<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="__STATIC__css/bootstrap.min.css" rel="stylesheet">
    <script src="__STATIC__js/jquery.min.js"></script>
    <script src="__STATIC__js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
<div class="container-fluid" style="background:url(__STATIC__img/back.jpg) no-repeat;">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-primary" style="height: 100px">
                <div class="col-md-1" style="height: 100px">
                    这里是主播的头像
                </div>
                <div class="col-md-11">
                    <h1>主播名字:<span>标题</span></h1>
                </div>
            </div>
            <div  style="height:500px;">
                视屏播放
            </div>
        </div>
    </div>
</div>
</body>
</html>