<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章标题</title>
    <include file="Public/html"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__applet/css/diy_media.css">

    <!-- tg.jisuapp.cn下添加360统计代码 -->
    <style type="text/css" id="zoom-set" rel="stylesheet">
        body {
            zoom: 98.71428571428571%;
        }
    </style>
</head>
<body class="webapp" style="min-width: 1400px;">
<!--导入顶部导航-->
<include file="Public/top_nav" />

<div class="news-banner">
    <p>奶牛资讯站一一为您提供时下热门前沿动态</p>
    <a href="__APP__/Index/Article/index" target="blank">查看更多</a>
</div>
<div class="news-content-wrap">
    <div class="news-content">
        <div class="news-content-navigator">
            <span><a href="__PUBLIC__/Index/Index/index">首页</a>&gt;</span>
            <span><a href="">微信小程序资讯</a>&gt;</span>
            <span class="current-header">微信小程序最新图表组件曝光，开发门槛更低了！</span>
        </div>
        <div class="news-content-main">
            <div class="main-article">
                <h1 class="main-article-title">微信小程序最新图表组件曝光，开发门槛更低了！</h1>
                <div class="main-article-add-time"><span>阅读：<i>1276</i></span>
                    <time>2017-10-20</time>
                    <span><a href="">微信小程序</a></span></div>
                <div class="main-article-content"><p><br></p>
                    <p></p>
                    <p><br></p>
                    <p><span style="font-size:16px;">据透露，微信官方悄悄推出了一款小程序，刚开始听到这个的时候小编并没有太在意，可是当我打开这个小程序的时候小编就开始不淡定了，这是小程序图表组件！看来小程序又开始布局大事情了。</span>
                    </p>
                    <p><span style="font-size:16px;">首先我们先来看看这款小程序的介绍</span></p>
                    <p><img src="__STATIC__applet/image/article/201710201812402522.png"></p>
                    <p>	<span style="font-size:16px;">微
信官方将这些组件封装起来做成一个小程序给大家查看。这里面有折线图、饼图、柱状图等众多图表组件。而且所有的图表组件都可以任意调节控制面板的各个参
数，如折线图的坐标轴、饼图的半径、柱状图的宽度等。也就是说，这些图表组件具有一定的模板化，但又给予了开发者充分的自由度。</span></p>
                    <p><span style="font-size:16px;">&nbsp;</span></p>
                    <p><img src="__STATIC__applet/image/article/201710201812406097.jpg"></p>
                    <p><span style="font-size:16px;">&nbsp;</span></p>
                    <p><span style="font-size:16px;">如果真是这样的话，那么最开心莫过于小程序的开发者了，因为直接调用这些功能组件的接口就可以快速能完成相关功能的开发。</span>
                    </p>
                    <p><span style="font-size:16px;">&nbsp;</span></p>
                    <p>	<span style="font-size:16px;">当
然，对于完全不懂代码的创业者来说，借助微信小程序开发工具「即速应用」（http://www.jisuapp.cn）进行快速开发才是最省时省力的。
「即速应用」共有餐饮、电商、酒店、旅游、汽车、房地产等60多个行业模板，开发者通过简单拖拽组件就可以迅速完成小程序的开发，极大缩减了小程序的开发
周期，节省了开发成本。</span><a id="_GoBack"></a></p>
                    <p><span style="font-size:16px;">&nbsp;</span></p>
                    <p><span
                            style="font-size:16px;">从这次小程序图表组件的开放来看，未来小程序的开发与制作将会也来越简单，而小程序对我们的影响也会越来越大，最终发展成为一种新生态！</span>
                    </p></div>
                <div class="statement"><p>【温馨提示】思路网倡导尊重与保护知识产权。如发现本站文章存在版权问题，烦请提供版权疑问、身份证明、版权证明、联系方式等发邮件至<i>1223636802@qq.com</i>
                    ，我们将及时处理。本站文章仅作分享交流用途，作者观点不等同于思路网观点。用户与作者的任何交易与本站无关，请知悉。</p></div>
            </div>
            <!--最新资讯-->
            <div class="main-aside">
                <div class="lastest-infor section">
                    <h2 class="section-header">最新资讯</h2>
                    <ul class="lastest-infor-list">
                        <li class="lastest-infor-list-item">
                            <a href="" target="blank">
                                <div class="item-image"><img src="__STATIC__applet/image/article/file_59e9d15aeb01c.png"
                                                             alt="微信小程序最新图表组件曝光，开发门槛更低了！"></div>
                                <div class="item-text">
                                    <h3 class="text-title" title="微信小程序最新图表组件曝光，开发门槛更低了！">微信小程序最新...</h3>
                                    <div class="text-intro">
                                        据透露，微信官方悄悄推出了一款小程序，刚开始听到这个的时候小编并没有太在意，可是当我打开这个小程序的时候小编就开始不淡定了，这是小程序图表组件！看来小程序又开始布局大事情了。<span
                                            class="ellipsis">...</span></div>
                                    <time>2017-10-20</time>
                                </div>
                            </a>
                        </li>
                        <li class="lastest-infor-list-item">
                            <a href="" target="blank">
                                <div class="item-image"><img src="__STATIC__applet/image/article/file_59e9ce0f82987.jpg"
                                                             alt="【系统通知】您收到一封领取万元大奖的邀请函！"></div>
                                <div class="item-text">
                                    <h3 class="text-title" title="【系统通知】您收到一封领取万元大奖的邀请函！">【系统通知】您...</h3>
                                    <div class="text-intro">你是否需要一个快速宣传企业的工具？你是否需要一个直达用户需求的产品？你是否需要一个尽情展现才华的舞台？<span
                                            class="ellipsis">...</span></div>
                                    <time>2017-10-20</time>
                                </div>
                            </a>
                        </li>
                        <li class="lastest-infor-list-item">
                            <a href="" target="blank">
                                <div class="item-image"><img src="__STATIC__applet/image/article/file_59e712eebd974.png"
                                                             alt="最新微信小程序设计入门指南"></div>
                                <div class="item-text">
                                    <h3 class="text-title" title="最新微信小程序设计入门指南">最新微信小程序...</h3>
                                    <div class="text-intro">
                                        今年对中小企业企业来说，小程序开发已经成了最迫切的需求之一。而大家都要面临的问题是：该做个什么样的小程序？我们公司微信小程序设计又该如何进行？<span
                                            class="ellipsis">...</span></div>
                                    <time>2017-10-18</time>
                                </div>
                            </a>

                        </li>
                    </ul>
                </div>
                <!--热门模板-->
                <div class="hot-modules section">
                    <h2 class="section-header">热门模板</h2>
                    <ul class="hot-modules-list">
                        <li class="hot-modules-list-item">
                            <a href="" target="blank">
                                <img class="bg-image" src="__STATIC__applet/image/article/share_feng.jpg" alt="我的微页微页模板">
                                <div class="qrcode"><img
                                        src="__STATIC__applet/image/article/76c215fa8bfd3faf6366572e741765c61.png"
                                        alt="我的微页微页模板二维码"></div>
                            </a>
                        </li>
                        <li class="hot-modules-list-item">
                            <a href="" target="blank">
                                <img class="bg-image" src="__STATIC__applet/image/article/file_58e7a73d1af17.jpg"
                                     alt="河南良基招贤纳士微页模板">
                                <div class="qrcode"><img
                                        src="__STATIC__applet/image/article/3db56b362250d0ee629b4a47f52dd2411.png"
                                        alt="河南良基招贤纳士微页模板二维码"></div>
                            </a>
                        </li>

                        <li class="hot-modules-list-item">
                            <a href="" target="blank">
                                <img class="bg-image" src="__STATIC__applet/image/article/file_595f586ec8a11.jpg"
                                     alt="每周战略资讯小程序模板">
                                <div class="qrcode"><img
                                        src="__STATIC__applet/image/article/58bae340e487a320dcafb34bda8e7ae21.png"
                                        alt="每周战略资讯小程序模板二维码"></div>
                            </a>
                        </li>
                        <li class="hot-modules-list-item">
                            <a href="" target="blank">
                                <img class="bg-image" src="__STATIC__applet/image/article/share_feng_002.jpg" alt="我的应用小程序模板">
                                <div class="qrcode"><img
                                        src="__STATIC__applet/image/article/bde2ff5e5f048f5ea936dc8d83b2a4411.png"
                                        alt="我的应用小程序模板二维码"></div>
                            </a>
                        </li>

                    </ul>
                </div>
                <!--相关资讯-->
                <div class="relate-infor section">
                    <h2 class="section-header">相关资讯</h2>
                    <ul class="relate-infor-list">
                        <li class="relate-infor-list-item">
                            <img src="__STATIC__applet/image/article/file_59e9ce0f82987.jpg" alt="【系统通知】您收到一封领取万元大奖的邀请函！">
                            <a href="" target="blank">
                                <div class="item-mask">
                                    <h3 class="item-title">【系统通知】您收到一封领取万元大奖的邀请函！</h3>
                                    <time>2017-10-20</time>
                                </div>
                            </a>
                        </li>
                        <li class="relate-infor-list-item">
                            <img src="__STATIC__applet/image/article/file_59e712eebd974.png" alt="最新微信小程序设计入门指南">
                            <a href="" target="blank">
                                <div class="item-mask">
                                    <h3 class="item-title">最新微信小程序设计入门指南</h3>
                                    <time>2017-10-18</time>
                                </div>
                            </a>
                        </li>
                        <li class="relate-infor-list-item">
                            <img src="__STATIC__applet/image/article/file_59f1baaf70055.jpg" alt="奶牛网络小程序线上沙龙第三期——让教育更有趣！">
                            <a href="" target="blank">
                                <div class="item-mask">
                                    <h3 class="item-title">奶牛网络小程序线上沙龙第三期——让教育更有趣！</h3>
                                    <time>2017-10-17</time>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 引入news_footer -->
<include file="Public/footer2" />
</body>
</html>