<!DOCTYPE html>
<html lang="zh-CN">
<head>
<META content="IE=9.0000" http-equiv="X-UA-Compatible">
<meta http-equiv="Content-Type" content="text/html; charset=__CHARSET__" />
<LINK href="__STATIC__css/bootstrap.min.css" rel="stylesheet"> 
<LINK href="__STATIC__css/admin.css" rel="stylesheet"> 
<LINK href="__STATIC__css/switch.min.css" rel="stylesheet"> 
<SCRIPT src="__STATIC__js/jquery.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/bootstrap.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/switch.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/diy.js" type="text/javascript"></SCRIPT>
<title>{:L('ADMIN_Manage_TITLE')}-{:L('ADMIN_Menu_OPERATE')}</title>
</head>
<body>
<div class="container-fluid">
<div class="padding_5"></div>
<form action="" method="post" name="form1" id="form1">
<!--内容开始--> 	
	   <ul class="nav nav-tabs">
		  <li role="presentation" class="active url_title" onClick="url(0)" id="url_title0"><a href="#">{:L('MODEL_SETTING')}</a></li>
       </ul>
		

		<div class="line_3 bg_white padding_10"> <!--变换白色区域-->
		   <!--<div class="bottom_line_10 padding_5"></div>-->
					   <div class="row">
					            <!--基本设置-->
								<DIV class="col-md-12 url" id="url0" style="display:">
								     <div class="row padding_7">  
											<div class="col-md-1 right  b1 sizefont_14">
												{:L('OPEN')}
											</div>
                                            	<div class="col-md-4">
												<label class="radio-inline"><input type="radio" name="open" value="1" <if condition="$c['open']">checked</if> data-switch-no-init>&nbsp;{:L('OPEN')}&nbsp;&nbsp;
												</label><label class="radio-inline"><input type="radio" name="open" value="0" <if condition="!$c['open']">checked</if> data-switch-no-init>&nbsp;{:L('CLOSE')}</label>
											</div>                                        
							         </div> 								  

								     <div class="row padding_7">  
											<div class="col-md-1 right b1 sizefont_14">
												{:L('MODEL_BUSINESS_POINT_TYPE')}
											</div>
											<div class="col-md-11 form-inline">
                                            <?PHP $point=C('point_type');?>
                                                 <foreach name="point" item="v" key="k" >
                                                         <if condition="C($k.'.status')">
                                                          <label class="checkbox-inline">
                                                            <input type="checkbox" name="point_type[]" value="{$k}" <if condition="in_array($k,$c['point_type'])">checked</if> data-switch-no-init>&nbsp;{:C($k.".name")}(&nbsp;<SPAN class="red">{:L('UNIT')}：{:C($k.".unit")}</SPAN>&nbsp;)&nbsp;&nbsp;
                                                          </label>
                                                         </if>
                                                 </foreach>                                                   		                                                    										 
											</div>
							        </div>  
 
 								     <div class="row padding_7 bottom_line_10">  
											<div class="col-md-1 right  b1 sizefont_14">
												{:L('IS_VERIFY')}
											</div>
                                            <div class="col-md-2">
												<label class="radio-inline"><input type="radio" name="verify" value="0" onClick="show_('.verify',1)" <if condition="$c['verify']==0">checked</if> data-switch-no-init >&nbsp;{:L('YES_VERIFY')}&nbsp;&nbsp;
												</label><label class="radio-inline" ><input type="radio" name="verify" value="1" onClick="show_('.verify',0)"  <if condition="$c['verify']==1">checked</if> data-switch-no-init>&nbsp;{:L('NO_VERIFY')}</label>
											</div>                                      
							         </div>
                                     <div class="row padding_7 verify" style="display:<if condition="$c['verify']">none</if>">  
											<div class="col-md-1 right  sizefont_14"></div>
                                            <div class="col-md-2">
                                                     <div class="input-group">
                                                      <span class="input-group-addon">{:L('RECOMMEND_USER')}</span>
                                                      <input type="text" value="{$c['recommend_day']}" class="form-control" name="recommend_day" aria-hidden='true' data-toggle='popover' data-container="body"  data-trigger="hover"  data-placement='top' title='' data-content="{:L('VERIFY_DAY_NUM_P')}">
                                                      <span class="input-group-addon"> <input type="checkbox"   name="recommend_user" value="1"  <if condition="$c['recommend_user']==1">checked</if> aria-hidden='true' data-toggle='popover' data-container="body"  data-trigger="hover"  data-placement='top' title='' data-content="{:L('VERIFY_USER_OPEN_P')}" data-switch-no-init ></span>
                                                    </div>
											</div>                                                                              
							         </div>   
                                     
                                     <div class="row padding_7 verify" style="display:<if condition="$c['verify']">none</if>">  
                                            <div class="col-md-1 right  sizefont_14"></div>
                                            <div class="col-md-11">
                                                <foreach name="point" item="v" key="k" >
                                                 <if condition="C($k.'.status')">
                                                   <div class="col-md-3 padding_7">
                                                       <div class="input-group">
                                                        <span class="input-group-addon">{:C($k.'.name')}</span>
                                                        <input type="text"  value="{$c["verify_$k"]}" class="form-control"  name="verify_{$k}"  aria-hidden='true' data-toggle='popover' data-container="body"  data-trigger="hover"  data-placement='top' title='' data-content="{:L('VERIFY_REWARD_P')}">
                                                        <span class="input-group-addon">{:C($k.'.unit')}</span>
                                                      </div>
                                                    </div>
                                                   </if>
                                                </foreach>  
                                            </div>                                                                                 
							         </div>

 								     <div class="row padding_7 bottom_line_10">  
											<div class="col-md-1 right  b1 sizefont_14">
												{:L('RECOMMEND_USER_RELEASE')}
											</div>
                                            <div class="col-md-2">
												<label class="radio-inline"><input type="radio" name="release" value="1" onClick="show_('.release',1)" <if condition="$c['release']">checked</if> data-switch-no-init >&nbsp;{:L('ALLOW')}&nbsp;&nbsp;
												</label><label class="radio-inline" ><input type="radio" name="release" value="0" onClick="show_('.release',0)"  <if condition="!$c['release']">checked</if> data-switch-no-init>&nbsp;{:L('NO_ALLOW')}</label>
											</div> 
                                            <div class="col-md-6 padding_7  font_color_4">{:L('RECOMMEND_USER_RELEASE_P')}</div>	                                     
							         </div> 
                                     
                                    <div class="row padding_7 release" style="display:<if condition="!$c['release']">none</if>">  
                                            <div class="col-md-1 right  sizefont_14"></div>
                                            <div class="col-md-11">
                                                <foreach name="point" item="v" key="k" >
                                                 <if condition="C($k.'.status')">
                                                   <div class="col-md-3 padding_7">
                                                       <div class="input-group">
                                                        <span class="input-group-addon">{:C($k.'.name')}</span>
                                                        <input type="text" value="{$c["release_$k"]}" class="form-control"  name="release_{$k}"  aria-hidden='true' data-toggle='popover' data-container="body"  data-trigger="hover"  data-placement='top' title='' data-content="{:L('RECOMMEND_REWARD_P')}">
                                                        <span class="input-group-addon">{:C($k.'.unit')}</span>
                                                      </div>
                                                    </div>
                                                   </if>
                                                </foreach>  
                                             </div> 
                                                    <!--会员发布信息条数限制-->
                                                 <br><hr width="100%" class="bottom_line_10">
                                                 <div class="col-md-1 right  sizefont_14"></div>
                                                 <div class="col-md-11">
                                                  <foreach name="group" item="v" key="k" >
                                                         <if condition="$v['status']">
                                                           <div class="col-md-3 padding_7">
                                                               <div class="input-group">
                                                                <span class="input-group-addon">{$v['name']}</span>
                                                                <input type="text" value="{$c["release_$v[id]"]}" class="form-control"  name="release_{$v['id']}"  aria-hidden='true' data-toggle='popover' data-container="body"  data-trigger="hover"  data-placement='top' title='' data-content="{:L('RECOMMEND_USER_RELEASE_NUM_P')}">
                                                                <span class="input-group-addon">{:L('RECOMMEND_USER_RELEASE_NUM_UNIT')}</span>
                                                              </div>
                                                            </div>
                                                           </if>
                                                </foreach>
                                                </div>                                                                                                                                
							         </div>                                 
							</div>
						</DIV>  
	</div><!--变换白色区域-->
<!--内容结束--> 

                    <div class="padding_10"></div>
                    <div align="row">
					    <div class="col-md-12 center">
						      <button type="submit" class="btn btn-success">{:L('SET')}</button>
						</div>
					</div>	
 <input name="id" type="hidden" id="id" value="{$id}">                   		
</form>		
</div>

<script>
$(document).ready(
    function()
	{ 
	   p={template:'<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content red4"></div></div>'};
       $('[data-toggle="popover"]').popover(p)
	}
	
);

function show_(id,val)
{
	if(val)
	{
		 $(id).show("slow");
	}else
	{
		 $(id).hide("slow");
	}
}
</script>
</body>
</html>
