<!DOCTYPE html>
<html lang="zh-CN">
<head>
<META content="IE=9.0000" http-equiv="X-UA-Compatible">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<LINK href="__STATIC__css/bootstrap.min.css" rel="stylesheet"> 
<LINK href="__STATIC__css/admin.css" rel="stylesheet"> 

<title>{:L('ADMIN_Manage_TITLE')}</title>
</head>
<body scroll="no" style="overflow: hidden;background-color:#000000" >

<div class="login_bg">
<!--存放表单内容的框-->
     <div class="login_from">
				<div class="container-fluid">
				     <form class="form-horizontal" method="post" action=""><br>
<br>

						<div class="row">
							<div class="input-group col-md-12">
							 <span class="input-group-addon" id="basic-addon1">{:L('ADMIN_User')}</span>
							  <input name="user" type="text" class="form-control" id="inputEmail3" placeholder="{:L('ADMIN_User')}">
							</div>
							<br>
							<div class="input-group col-md-12">
							<span class="input-group-addon" id="basic-addon1">{:L('ADMIN_Pass')}</span>
							  <input name="pass" type="password" class="form-control" id="inputEmail3" placeholder="{:L('ADMIN_Pass')}">
							</div>
							<br>
<br>

						    <div class="col-md-10 col-md-offset-2"><button type="submit" class="btn btn-default active  btn-sm">{:L('LOGIN')}</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="reset" class="btn btn-default active  btn-sm">{:L('RESET')}</button>
						</div>
						
						
					  <form class="form-horizontal">
				</div>
	 </div>
<!--存放表单内容的框完-->
</div>


</body>
</html>
