<!--底部-->
<link rel="stylesheet" href="__STATIC__applet/css/footer.css">
<div class="footer-section">
    <div class="footer-content">
        <div class="footer-top">
            <div class="products-center">
                <p class="title">产品中心</p>
                <ul>
                    <li><a href="" target="_blank">微信小程序</a></li>
                    <li><a href="" target="_blank">支付宝小程序</a></li>
                    <li><a href="" target="_blank">微页</a></li>
                </ul>
            </div>
            <div class="sincere-cooperation">
                <p class="title">诚意合作</p>
                <ul>
                    <li><a href="" target="_blank">代理加盟</a></li>
                    <li><a target="_blank" href="">商务合作</a></li>
                </ul>
            </div>
            <div class="hot-activity">
                <p class="title">热门活动</p>
                <ul>
                    <li><a href="" target="_blank">课程培训</a></li>
                    <li><a href="" target="_blank">赛事活动</a></li>
                </ul>
            </div>
            <div class="follow-us">
                <p class="title">关注我们</p>
                <ul>
                    <li><a href="" target="_blank">关于我们</a></li>
                    <li><a href="" target="_blank">媒体报导</a></li>
                    <li><a href="" target="_blank">帮助中心</a></li>
                </ul>
            </div>
            <div class="contact-us">
                <p class="title">联系我们</p>
                <ul>
                    <li><a>咨询电话：{:L('COMPANY_PHONE')}</a></li>
                    <li><a>周一至周五&ensp;9:00-18:00</a></li>
                    <li><a href="" target="_blank">在线客服</a></li>
                    <li><a>关注官方</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="friend-links">
                <span>友情链接：</span>
                <span><a href="" target="_blank">web前端开发</a></span>
            </div>
            <div class="company-statement">
                <span>{:L('COMPANY_NAME')}©2015 奶牛网络 <a href="" target="_blank">粤ICP备16110707号-1</a></span>
                <img src="__STATIC__applet/image/about/ebsgovicon.png" class="ebsgovicon" alt="工商网监电子标识">
            </div>
        </div>
    </div>
</div>