    <!-- 底部 -->
    <link rel="stylesheet" href="__STATIC__applet/css/news_footer.css">
    <div class="news-footer-wrap">
        <div class="news-footer">
            <div class="company-logo">
                <img src="__STATIC__applet/image/public/company_logo.jpg" alt="奶牛公司logo">
            </div>
            <div class="company-info">
                <!-- 友情链接 -->
                <div class="footer-nav-list">
                    <a href="" target="blank">微信小程序</a>
                    <span class="nav-item-border"></span>
                    <a href="" target="blank">公司简介</a>
                </div>
                <div class="address">
                    公司地址：{:L('COMPANY_ADDRESS')}
                </div>
                <div class="statement">
                    {:L('COMPANY_NAME')}©2015 奶牛网络 <a href="/" target="blank">粤ICP备16110707号</a>
                </div>
            </div>
            <div class="company-ewma">
                <img src="__STATIC__applet/image/public/4928c88bbcf1e600cb9eca846d686a68.png" alt="奶牛公司二维码">
                <span>扫微信关注我们吧</span>
            </div>
        </div>
    </div>