@charset "utf-8";
/* CSS Document */
.order_table{ width:95%}
.cc_bg{ background:#EEE; font-weight:bold; text-align:left; text-indent:5px; width:10%}
.00_bg{ background:#fff; text-align:left; text-indent:5px; width:40%}