<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb">
<head>
<title>视频教程</title>
  <!-- 引入html头信息 -->
  <include file="Public/html" />

<link rel="stylesheet" type="text/css" href="__STATIC__applet/css/style_18_common.css">
<!--<script src="__STATIC__applet/js/hm.js"></script>-->
<!--<script type="text/javascript" async="" src="__STATIC__applet/js/vds.js"></script>-->
<!--<script type="text/javascript" charset="utf-8" src="./NTkwMTg0MjQ.htm"></script>-->
<!--<script src="__STATIC__applet/js/jquery.js" type="text/javascript"></script>-->
<!--<script src="__STATIC__applet/js/jquery_002.js" type="text/javascript"></script>-->
<script type="text/javascript">
//    var STYLEID = '18', STATICURL = 'static/', IMGDIR = 'static/image/common', VERHASH = 'B01', charset = 'utf-8', discuz_uid = '0', cookiepre = 'yzih_2132_', cookiedomain = '', cookiepath = '/', showusercard = '1', attackevasive = '0', disallowfloat = 'newthread', creditnotice = '1|威望|,2|金钱|,3|贡献|', defaultstyle = '', REPORTURL = 'aHR0cDovL2Jicy56aGljaGl3YW5nbHVvLmNvbS90cGdhb19lZHUtaW5kZXguaHRtbA==', SITEURL = 'http://bbs.zhichiwangluo.com/', JSPATH = 'data/cache/', CSSPATH = 'data/cache/style_', DYNAMICURL = '';
</script>
<!--<script src="__STATIC__applet/js/common.js" type="text/javascript"></script>-->

</head>
<body id="nv_plugin" class="pg_tpgao_edu" onkeydown="if(event.keyCode==27) return false;">
  <div id="flag" style="display:none;">教程论坛</div>

  <div id="append_parent">
    <div id="ls_fastloginfield_ctrl_menu" class="sltm" style="display: none; width: 40px;"><ul><li class="current">用户名</li><li>Email</li></ul></div>
  </div>
  <div id="ajaxwaitid"></div>

  <!-- 引入顶部导航 -->
  <include file="Public/top_nav2" />

<div id="wp" class="wp time_wp cl">

  <link rel="stylesheet" href="__STATIC__applet/css/zzsc.css" type="text/css">

  <!-- <link rel="stylesheet" href="__STATIC__applet/css/master2.css" type="text/css"> -->
  <!-- <link rel="stylesheet" href="__STATIC__applet/css/base.css" type="text/css"> -->

  <!--<script src="__STATIC__applet/js/jquery-1_002.js" type="text/javascript"></script>-->
  <!--<script src="__STATIC__applet/js/jquery_003.js" type="text/javascript"></script>-->
  <!--<script type="text/javascript">var jq144 = jQuery.noConflict();</script>-->
  <style>
    .h50, .h30 {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
    zoom: 1;
    height: 40px;
    line-height: 40px;
    font-size: 1px;
    }
  </style>
  <div id="pt" class="bm cl">
      <div class="z">
          <a href="" class="nvhm" title="首页"></a><em>?</em>
          <a href="">微信小程序开发 小程序培训视频资料</a>
      </div>
  </div>
  <script type="text/javascript">
//    jq144('.DB_tab25').DB_tabMotionBanner({
//    key:'b28551',
//    autoRollingTime:10000,
//    bgSpeed:500,
//    motion:
//    {
//
//    DB_1_1:{left:-50,opacity:0,speed:1000,delay:500},
//    DB_1_2:{left:-50,opacity:0,speed:1000,delay:1000},
//    DB_1_3:{left:100,opacity:0,speed:1000,delay:1500},
//
//    DB_2_1:{top:50,opacity:0,speed:1000,delay:500},
//    DB_2_2:{top:50,opacity:0,speed:1000,delay:1000},
//    DB_2_3:{left:100,opacity:0,speed:1000,delay:1500},
//
//    DB_3_1:{left:-50,opacity:0,speed:1000,delay:500},
//    DB_3_2:{top:50,opacity:0,speed:1000,delay:1000},
//    DB_3_3:{left:100,opacity:0,speed:1000,delay:1500},
//
//    DB_4_1:{left:-50,opacity:0,speed:1000,delay:500},
//    DB_4_2:{left:-50,opacity:0,speed:1000,delay:1000},
//    DB_4_3:{left:-50,opacity:0,speed:1000,delay:1500},
//    DB_4_4:{left:-50,opacity:0,speed:1000,delay:2000},
//    DB_4_5:{left:100,opacity:0,speed:1000,delay:3000},
//
//    end:null
//    }
//
//    });
  </script>

  <div id="clear" style="clear:both;"></div>
  <div class="h30"></div>
  <link rel="stylesheet" href="__STATIC__applet/css/global.css" />
  <link rel="stylesheet" href="__STATIC__applet/css/style.css" />

  <script type="text/javascript">
//    jq144(function(){
//    jq144(".dl2").bind("click",function(e){
//    jq144(".btn_filter_km_2").css("display","none");
//    jq144(".block").css("display","none");
//
//    var did = jq144(this).attr('did');
//    var pid = jq144(this).attr('pid');
//    jq144("#block"+pid).css("display","block");
//    jq144("#subdl"+did).css("display","block");
//    });
//    });
  </script>

  <div class="minitypeagory">
    <div class="minitypeagory-nav">
      <ul>
        <li>
          <span style="float:left;margin-right:5px;font-weight:bold;">小程序系列</span>
          <div class="categ-items">
            <div class="desc-con">
              <a href="">全部</a>
               <a href="" class="dl2">第一期【微信小程序基础入门教学】</a>
              <a href="" class="dl2">第二期【微信小程序行业应用】</a>
              <a href="" class="dl2">第三期【微信小程序高手养成记】</a>
              <a href="" class="dl2">【即速应用功能介绍】更新...</a>
            </div>
          </div>
        </li>
        <li>
          <span style="float:left;margin-right:5px;font-weight:bold;">微页h5系列</span>
          <div class="categ-items">
            <div class="desc-con">
              <a href="">全部</a>
              <a href="" class="dl2">H5案例【行业应用】</a>
              <a href="" class="dl2">【微页H5功能介绍】</a>
              <a href="" class="dl2">【破茧成蝶 - 8节课秒变H5大神】</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <link rel="stylesheet" href="__STATIC__applet/css/portal_index.css" type="text/css">

  <div class="gaokc">
    <div class="deantitleh2">
      <span><b>猜你喜欢</b></span>
      <a href="" target="_blank">更多&gt;</a>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <ul>
      <div id="gaokc" class="area">
        <div id="framet6U262" class="frame move-span cl frame-1">
          <div id="framet6U262_left" class="column frame-1-c">
            <div id="framet6U262_left_temp" class="move-span temp"></div>
            <div id="portal_block_70" class="block move-span">
              <div id="portal_block_70_content" class="dxb_bc">
                <div class="portal_block_summary">
                  <li>
                    <a href="" target="_blank" title=""><img src="__STATIC__applet/image/train/id12.jpg" width="280"></a>
                  </li>
                  <li>
                    <a href="" target="_blank" title=""><img src="__STATIC__applet/image/train/id30.jpg" width="280"></a>
                  </li>
                </div>
             </div>
           </div>
         </div>
       </div>
      </div>
           <!--[/diy]-->
      <div class="clear"></div>
    </ul>
  </div>
  <div class="gaofind">
    <div class="gaotitleh2"><span>最新视频</span><b>快速筛选你所需要的课程，全面提升你的交易能力！</b><a href="" target="_blank">查看所有课程&gt;</a><div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="gaotabname">
      <ul>
        <li><a href="javascript:void(0)" target="_blank" onclick="return false;">最新课程</a></li>
        <li><a href="" target="_blank">小程序论坛</a></li>
        <li><a href="" target="_blank">微页h5论坛</a></li>
        <div class="clear"></div>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="gaotabc">
      <ul>
        <li style="display:block;">
          <dl class="gaolidl1">
            <div id="gaotabc" class="area">
              <div id="framepjo8y9" class="frame move-span cl frame-1">
                <div id="framepjo8y9_left" class="column frame-1-c">
                  <div id="framepjo8y9_left_temp" class="move-span temp"></div>
                  <div id="portal_block_72" class="block move-span">
                    <div id="portal_block_72_content" class="dxb_bc">
                      <div class="portal_block_summary">
                        <!-- 遍历 -->
                        <dd>
                          <div class="deancoverfm">
                              <a href="" target="_blank"><img src="__STATIC__applet/image/train/id34.jpg" width="280"></a>
                              <div class="gaocoverinfo">
                                  <a href="" target="_blank">
                                  <div class="deanh3">H5案例实战【行业应用大全】</div>
                                  </a>
                              </div>
                          </div>
                          <div class="clear"></div>
                          <div class="gaotkinfo">
                              <span>讲师：降景怡</span>
                              <b>免费</b>
                              <div class="clear"></div>
                          </div>
                        </dd>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  <div class="gaovip">
      <a href="" target="_blank"><img src="__STATIC__applet/image/train/ktvip.jpg"></a>
      <span></span>
  </div>
  <div class="clear"></div>
</div>


<script type="text/javascript">
//  _attachEvent(window, 'load', getForbiddenFormula, document);
//  function getForbiddenFormula() {
//  var toGetForbiddenFormulaFIds = function () {
//  ajaxget('plugin.php?id=cloudsearch&formhash=3d05e0ef');
//  };
//  var a = document.body.getElementsByTagName('a');
//  for(var i = 0;i < a.length;i++){
//  if(a[i].getAttribute('sc')) {
//  a[i].setAttribute('mid', hash(a[i].href));
//  a[i].onmousedown = function() {toGetForbiddenFormulaFIds();};
//  }
//  }
//  var btn = document.body.getElementsByTagName('button');
//  for(var i = 0;i < btn.length;i++){
//  if(btn[i].getAttribute('sc')) {
//  btn[i].setAttribute('mid', hash(btn[i].id));
//  btn[i].onmousedown = function() {toGetForbiddenFormulaFIds();};
//  }
//  }
//  }
</script>


<!--引入底部滑窗-->
<include file="Public/bottom_sliding" />
<!-- 引入底部 -->
<include file="Public/footer3" />

</body>
</html>