<include file="header" />
<script src="__STATIC__js/alert_html.js"></script>
<div class="all2 white_ap box-shadow">
<div class="all">
<script>
function checkform_p1(){
	var pass=$("#pass").val();
	var confirm_pass=$("#confirm_pass").val();
	if(pass==''){
	html_alert('{:L('User_Index_white')}{:L('User_Index_new')}{:L('User_Index_password')}');
	return false;	
		}
	if(confirm_pass==''){
	html_alert('{:L('User_Index_white2')}{:L('User_Index_new')}{:L('User_Index_password')}');
	return false;
		}
	if(confirm_pass!=pass){
	html_alert('{:L('User_Login_Err_4')}');
	return false;		 
		}	
	return true;	
	} 
</script>

<script>
function checkform_p2(){
	var pass2=$("#pass2").val();
	var confirm_pass2=$("#confirm_pass2").val();
	if(pass2==''){
	html_alert('{:L('User_Index_white')}{:L('User_Index_new')}{:L('User_Index_twice')}{:L('User_Index_password')}');
	return false;	
		}
	 if(confirm_pass2==''){
	html_alert('{:L('User_Index_white2')}{:L('User_Index_new')}{:L('User_Index_twice')}{:L('User_Index_password')}');
	return false;
		}
	 if(confirm_pass2!=pass2){
	html_alert('{:L('User_Login_Err_4')}');
	return false;		 
		 }	
	return true;	
	} 
</script>
<br />

<form method="post" action="" name="form1"  id="form1" class="form-horizontal" onSubmit="return  checkform_p1()">  
   <div class="form-group">
   <label class="col-sm-2 control-label" for="formGroupInputSmall"><span class="glyphicon glyphicon-ok"></span>&nbsp;{:L('User_Index_new')}{:L('User_Index_password')}</label>
	   <div class="col-sm-10">
	   <input type="password" class="form-control" id="pass" name="pass" placeholder="{:L('User_Index_white')}{:L('User_Index_new')}{:L('User_Index_password')}" >
	   </div>
   </div>
   <div class="form-group">
   <label class="col-sm-2 control-label" for="formGroupInputSmall"><span class="glyphicon glyphicon-ok"></span>&nbsp;{:L('User_Index_white2')}{:L('User_Index_new')}{:L('User_Index_password')}</label>
	   <div class="col-sm-10">
	   <input type="password" class="form-control" id="confirm_pass" name="confirm_pass" placeholder="{:L('User_Index_white2')}{:L('User_Index_new')}{:L('User_Index_password')}">
	   </div>
  </div>
  <div align="center" class="buttondiv"><button type="submit" class="btn btn-primary btn-block">{:L('User_Index_submit')}{:L('User_Index_new')}{:L('User_Index_password')}</button></div><br />

</form>




<form method="post" action="" name="form2"  id="form2" class="form-horizontal" onSubmit="return  checkform_p2()">
<input type="hidden" value="yes" name="pass2">
   <div class="form-group">
   <label class="col-sm-2 control-label" for="formGroupInputSmall"><span class="glyphicon glyphicon-ok"></span>&nbsp;{:L('User_Index_new')}{:L('User_Index_twice')}{:L('User_Index_password')}</label>
	   <div class="col-sm-10">
	   <input type="password" class="form-control" id="pass2" name="pass" placeholder="{:L('User_Index_white')}{:L('User_Index_new')}{:L('User_Index_twice')}{:L('User_Index_password')}" >
	   </div>
   </div>
   <div class="form-group">
   <label class="col-sm-2 control-label" for="formGroupInputSmall"><span class="glyphicon glyphicon-ok"></span>&nbsp;{:L('User_Index_white2')}{:L('User_Index_new')}{:L('User_Index_twice')}{:L('User_Index_password')}</label>
	   <div class="col-sm-10">
	   <input type="password" class="form-control" id="confirm_pass2" name="confirm_pass" placeholder="{:L('User_Index_white2')}{:L('User_Index_new')}{:L('User_Index_twice')}{:L('User_Index_password')}">
	   </div>
  </div>
  <div align="center" class="buttondiv"><button type="submit" class="btn btn-primary btn-block">{:L('User_Index_submit')}{:L('User_Index_new')}{:L('User_Index_twice')}{:L('User_Index_password')}</button></div><br />

</form>

</div>
</div>
<br />
<include file="footer" />
</body>
</html>