<include file="header" />
<SCRIPT src="__STATIC__js/diy.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/upload.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/bootstrap.min.js" type="text/javascript"></SCRIPT>
<div class="all2 white_ap box-shadow">
<div class="all" style="width:90%; color:#FFF; line-height:30px; text-shadow:1px 1px 1px #333;">
<form action="" method="post" name="form1" id="form1">	
<div class="wz">
{:fields($model['table'])}
<input type="hidden"  name="model_id" value="{$modelid}">
</div>
		<div  class="padding_10"></div> 
		 <div  class="row">
		 		 <div  class="col-md-12 center">
		                <button type="submit" class="btn btn-success">{:L('ADD')}</button>
		         </div>
		 </div>
</form>
<div class="clear"></div>
</div>
</div>
<include file="footer" />
</body>
</html>
