<include file="header" />
<div class="topimg"></div>
<div class="bo1">
<div class="all">

<form method="post" action="" name="form1"  id="form1" class="form-horizontal">  
   <div class="form-group">
   <label class="col-sm-2 control-label" for="formGroupInputSmall"><span class="glyphicon glyphicon-ok"></span>&nbsp;{:L('User_Index_white').L('User_Index_twice').L('User_Index_password')}</label>
	   <div class="col-sm-10">
	   <input type="password" class="form-control" id="pass" name="pass" placeholder="{:L('User_Index_white')}{:L('User_Index_twice')}{:L('User_Index_password')}" >
	   <div id="passTip" class="alert"></div>
	   </div>
   </div>
  <div align="center" class="buttondiv"><button type="submit" class="btn btn-primary btn-block">{:L('User_Index_submit')}</button></div>
</form>

</div>
</div>
<include file="footer" />
</body>
</html>