<include file="head" />
<body>
<include file="right_top" />


<div class="wz">
    <div class="nr">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-hover">
<thead>
    <tr style="font-weight:bold">
    <td width="10%" align="center" valign="middle">{:L('Accounts_list_coin_date')}</td>
    <td width="20%" align="left" valign="middle">{:L('Accounts_list_coin_type')}：{:L('Accounts_list_coin_count')}</td>
    <td width="10%" align="center" valign="middle">{:L('Accounts_list_operation_type')}</td>
    <td width="10%" align="center" valign="middle">{:L('Accounts_list_business_type')}</td>

    <td width="20%" align="center" valign="middle">{:L('Accounts_list_coin_msg')}</td>

    <td  align="center" valign="middle">{:L('Accounts_list_business_operation_user')}</td>
    </tr>
</thead>
<foreach name="info" item="v" key="k" >
  <tr>
    <td align="center" valign="middle"   id="text" >{$v[addtime]|date="Y-m-d",###}</td>
    <td align="left" valign="middle" >{:C('money_name')}:{$v[money]} {:C('amount_name')}:{$v[amount]} {:C('point_name')}:{$v[point]}</td>
    <td align="center" valign="middle">{$v[operation_type]}</td>
        <td align="center" valign="middle">{$v[business_type]}</td>

      <td align="left" valign="middle">{$v[msg]}</td>

    <td align="center" valign="middle">{$v[operation_user]}</td>
  </tr>
</foreach>
</table>

{$page_show}

</div>
</div>
</body>
</html>
