<include file="head" />
<body>
<include file="right_top" />
<script>
$(document).ready(function(){
$('.select_color').find('li').click(function(){
$('.select_color').find('li').css("border","6px #999 solid");	
$(this).css("border","6px #F90 solid");	
c=$(this).find(".c").val();
$('#style').val(c);
});
});
</script>
<div class="wz">
    <div class="nr">
<form action="" method="post">
<div class='select_color'>
    <ul>
    <foreach name="shop_color" item="v" key="key" >
        <li style="background: url(__STATIC__img{$v['backgroud']}); color:{$v['font_color']}; <if condition="$shop_info['style'] eq  $key">border:6px #F90 solid</if>">
        {$key}
        <input class="c" value="{$key}" type="hidden">
        </li>
    </foreach>
    </ul>
</div>
<div class="clear"></div>
<input type="hidden" id="style" name="style" value="{$shop_info['style']}">
<div  align="center"><button type="submit" class="btn btn-success">{:L('SET')}</button></div>
</form>
	</div>
</div>
</body>
</html>
