    <!-- 底部 -->
    <div class="page" id="foot_page" style="background-color:#454545">
        <div class="foot">
            <div class="service_advice">
                <p class="foot_title">关于我们</p>
                <p class="foot_detail"><a href="" target="_blank">公司简介</a></p>
                <p class="foot_detail"><a href="" target="_blank">帮助中心</a></p>
                <p class="foot_detail"><a href="" target="_blank">媒体报导</a></p>
                <p class="foot_detail"><a href="">服务咨询</a></p>
            </div>
            <div class="connect_us">
                <p class="foot_title">联系我们</p>
                <p class="foot_detail" style="font-size:16px;">业务咨询：{:L('COMPANY_PHONE')}</p>
                <p class="foot_detail" style="font-size:16px;">客服反馈：{:L('COMPANY_EMAIL')}</p>
                <p class="foot_detail" style="font-size:16px;">周一至周五 9：00-18：00</p>
                <p class="foot_detail" style="font-size:15px;">公司地址：{:L('COMPANY_ADDRESS')}</p>
            </div>
            <div class="wechat_qrcode">
                <p class="foot_title"><span>官方微信</span><span>官方微博</span></p>
                <img src="__STATIC__applet/image/public/weixinfw.jpg" alt="" rel="nofollow">
                <img src="__STATIC__applet/image/public/zhichi_microblog.png" alt="" rel="nofollow">
            </div>
            <!-- 友情链接,遍历 -->
            <div class="fre_link">
                <p class="foot_title">友情链接</p>
                <span><a href="" target="_blank">web前端开发</a></span>
            </div>
        </div>
        <div>
            <div id="foot_bottom">
                <span>{:L('COMPANY_NAME')}©2015 奶牛网络 <a href=""_blank">粤ICP备16110707号</a></span>
                <span class="ebsgovicon">
                    <a href="" target="_blank">
                        <img src="__STATIC__applet/image/public/newGovIcon.gif" title="深圳市市场监督管理局企业主体身份公示" alt="深圳市市场监督管理局企业主体身份公示" style="border-width:0px;border:hidden; border:none;" width="70" height="28" border="0">
                    </a>
                </span>
            </div>
        </div>
    </div>