<!-- 底部 -->
  <div id="footer" class="footer cl">
    <div id="ft" class="wp cl">
       <div class="rgt cl">
          <a href="">小黑屋</a>
          <img class="footline" src="__STATIC__applet/image/public/space.gif">        &nbsp;
          <a href="" target="_blank" title=""><img src="__STATIC__applet/image/public/security.png"></a>
          &nbsp;&nbsp;
          <a href="" title="" target="_blank"><img title="" src="__STATIC__applet/image/public/toss_11.gif" border="0"></a>
          <script type="text/javascript" src="__STATIC__applet/js/ping.js" charset="utf-8"></script>
          <script type="text/javascript" reload="1">pgvMain({"discuzParams":{"r2":"59018424","ui":0,"rt":"forum","md":"index","pn":1,"qq":"000","logo":11},"extraParams":""});</script>
          <script type="text/javascript">
              var _vds = _vds || [];
              window._vds = _vds;
              (function(){
                _vds.push(['setAccountId', '9fd21c28eb55d8a5']);
                (function() {
                  var vds = document.createElement('script');
                  vds.type='text/javascript';
                  vds.async = true;
                  vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(vds, s);
                })();
              })();
          </script>
          <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?a383263cab7ece60b3b559227dbc5125";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();
          </script>
       </div>
       <div class="footer-left cl">© 2012-2017
          <a href="" target="_blank">Comsenz Inc. All rights reserved. </a> Powered by <a href="" target="_blank">Discuz!</a>
          <em>X3.2</em>
           备案：<a href="" target="_blank">粤ICP备14097199号-1</a>
       </div>
    </div>
    <script src="__STATIC__applet/image/home.php" type="text/javascript"></script>

    <div id="share">
      <a id="totop" title="" style="display: none;">返回顶部</a>
    </div>
    <script type="text/javascript">
      jQuery.noConflict();
      jQuery(function(){
          //首先将#back-to-top隐藏
          jQuery("#totop").hide();
          //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
          jQuery(function () {
              jQuery(window).scroll(function(){
                  if (jQuery(window).scrollTop()>100){
                      jQuery("#totop").fadeIn();
                  }
                  else
                  {
                      jQuery("#totop").fadeOut();
                  }
              });
              //当点击跳转链接后，回到页面顶部位置
              jQuery("#totop").click(function(){
                  jQuery('body,html').animate({scrollTop:0},500);
                  return false;
              });
          });
      });
    </script>

    <div id="discuz_tips" style="display:none;"></div>
    <script type="text/javascript">
      var tipsinfo = '59018424|X3.2|0.6||0||0|7|1508729453|182df78d10151d3751d296bd37be9f25|2';
    </script>
    <!--<script src="__STATIC__applet/js/discuz_tips.js" type="text/javascript" charset="UTF-8"></script>-->
    <script type="text/javascript">
      if($('debuginfo')) {
        $('debuginfo').innerHTML = '. This page is cached  at 11:30:53  .';
      }
    </script>
  </div>