    <!DOCTYPE html>
    <html lang="zh-CN">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title><if condition="C('site_title')">{:C('site_title')}提现<else />{:C('site_name')}提现</if></title>

    <link href="__STATIC__css/bootstrap.min.css" rel="stylesheet">

    <link href="__STATIC__css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="__STATIC__css/base.css" rel="stylesheet">
    <link href="__STATIC__css/theme.css" rel="stylesheet">
<script src="__STATIC__js/jquery.min.js"></script>
  

</head>

<body>
<div class="container">
<div class="row titles">
<div class="col-xs-3"><span class="glyphicon glyphicon-chevron-left"></span></div>
<div class="col-xs-6">提现列表</div>
<div class="col-xs-3"><span class="glyphicon glyphicon-user"></span></div>
</div>

<div class="row tx_zt">
  <div class="col-xs-4">已完成<span><i></i>10<i></i></span></div>
  <div class="col-xs-4 left_line">进行中<span><i></i>100<i></i></span></div>
  <div class="col-xs-4 left_line">未批准<span><i></i>9<i></i></span></div>
</div>

</div>

<table class="table">
<tr class="first_tr">
<td>提现时间</td>
<td>金额</td>
<td>状态</td>
</tr>
<tr class="tr_zt1">
<td>33</td>
<td>44</td>
<td>55</td>
</tr>	

<tr class="tr_zt2">
<td>33</td>
<td>44</td>
<td>55</td>
</tr>	

<tr class="tr_zt3">
<td>33</td>
<td>44</td>
<td>55</td>
</tr>	

<tr class="tr_zt4">
<td>33</td>
<td>44</td>
<td>55</td>
</tr>	

<tr>
<td colspan="3" align="center"><nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav></td>
</tr>	
</table>




</body>
</html>
