<!DOCTYPE html>
<html lang="zh-CN">
<head>
<META content="IE=9.0000" http-equiv="X-UA-Compatible">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<LINK href="__STATIC__css/bootstrap.min.css" rel="stylesheet"> 
<LINK href="__STATIC__css/base.css" rel="stylesheet"> 
<link href="__STATIC__css/user/user.css" rel="stylesheet" type="text/css" />
<SCRIPT src="__STATIC__js/jquery.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/bootstrap.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/switch.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/diy.js" type="text/javascript"></SCRIPT>
<title><if condition="C('site_title')">{:C('site_title')}<else />{:C('site_name')}</if></title>
</head>