<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'/>
	<title>游戏</title>
	<meta name='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'/>
	<meta name='apple-mobile-web-app-capable' content='yes' />
	<meta name='full-screen' content='true' />
	<meta name='screen-orientation' content='portrait' />
	<meta name='x5-fullscreen' content='true' />
	<meta name='360-fullscreen' content='true' />
	<meta http-equiv='expires' content='0' />
    <SCRIPT src="__STATIC__global/plugins/jquery.min.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="__STATIC__global/plugins/layabox/js/laya.core.min.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="__STATIC__global/plugins/layabox/js/laya.webgl.min.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="__STATIC__global/plugins/layabox/js/laya.ani.min.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="__STATIC__global/plugins/layabox/js/laya.filter.min.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="__STATIC__global/plugins/layabox/js/laya.html.min.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="__STATIC__global/plugins/layabox/js/laya.particle.min.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="__STATIC__global/plugins/layabox/js/laya.tiledmap.min.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="__STATIC__global/plugins/layabox/js/laya.ui.min.js" type="text/javascript"></SCRIPT>
    <script src="__STATIC__games/against/js/App.js"></script>
    
    <script src="__STATIC__games/against/js/layaUI.max.all.js"></script>
    
    
</head>
<body>
	<script src="__STATIC__games/against/js/LayaUISample.js"></script>
    <script>
	
    
	Laya.loader.load("__STATIC__games/against/img/load.json", Handler.create(this, onAssetLoaded), null, Loader.ATLAS); 
	function onAssetLoaded()
	{	
		showgame = new  HomeView();
		showgame.init();
		Laya.stage.addChild(showgame);
		alert(LocalStorage.getItem("soundMuted")+"KKK")

		var urls = [{url: "res/atlas/comp1.json",type: Loader.ATLAS}];
		Laya.loader.load(urls, Handler.create(this, Loadsuccess, null, false), Handler.create(this, onLoading, null, false), Loader.TEXT); 
	}
	function onLoading(progress)
	{
		progressBar=showgame.progress_1;
		progressBar.value=progress;
		Laya.stage.addChild(progressBar);
		
	}
	function Loadsuccess(texture)
	{
		showgame.showBut();
	}
			
    
    </script>
</body>
</html>