<!DOCTYPE html>
<html lang="zh-CN">
<head>
<META content="IE=9.0000" http-equiv="X-UA-Compatible">
<meta http-equiv="Content-Type" content="text/html; charset=__CHARSET__" />
<LINK href="__STATIC__css/bootstrap.min.css" rel="stylesheet"> 
<LINK href="__STATIC__css/admin.css" rel="stylesheet"> 
<LINK href="__STATIC__css/switch.min.css" rel="stylesheet"> 
<SCRIPT src="__STATIC__js/jquery.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/bootstrap.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/switch.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/diy.js" type="text/javascript"></SCRIPT>
<title>{:L('ADMIN_Manage_TITLE')}-{:L('ADMIN_Menu_OPERATE')}</title>
</head>
<body>
<div class="container-fluid">
<div class="padding_5"></div>
<form action="" method="post" name="form1" id="form1">
<!--内容开始--> 	
	   <ul class="nav nav-tabs">
		  <li role="presentation" class="active url_title" onClick="url(0)" id="url_title0"><a href="#">{:L('Accounts_Pay_Wx')}</a></li>
		  <li role="presentation" class="url_title" onClick="url(1)" id="url_title1"><a href="#">{:L('Accounts_Ali_Pay')}</a></li>
       </ul>
		<div class="line_3 bg_white padding_10"> <!--变换白色区域-->
		   <!--<div class="bottom_line_10 padding_5"></div>-->
					   <div class="row">
					            <!--微信-->
								<DIV class="col-md-12 url" id="url0" style="display:">
								     <div class="row padding_7">  
											<div class="col-md-1 right padding_7 b1 sizefont_14">
												{:L('OPEN')}
											</div>
											<div class="col-md-4">
												<label class="checkbox-inline"><input name="wx[wx_open]" type="radio" value="1" <if condition="$wx['wx_open'] eq 1">checked</if>  data-switch-no-init>
												{:L('OPEN')}</label><label class="checkbox-inline"><input name="wx[wx_open]" type="radio" value="0" <if condition="$wx['wx_open'] eq 0">checked</if>  data-switch-no-init>{:L('CLOSE')}</label>
										   </div>
							         </div>
									 								
								     <div class="row padding_7">  
											<div class="col-md-1 right padding_7 b1 sizefont_14">
												{:L('Accounts_Wx_Appid')}
											</div>
											<div class="col-md-4">
												  <input name="wx[wx_appid]" type="text" class="form-control" id="wx_appid" value="{$wx['wx_appid']}" placeholder=""   >
											</div>
											<div class="col-md-7 padding_7  font_color_4">{:L('Accounts_Wx_Appid_P')}</div>
							         </div> 
								     <div class="row padding_7">  
											<div class="col-md-1 right padding_7 b1 sizefont_14">
												{:L('Accounts_Wx_Mchid')}
											</div>
											<div class="col-md-4">
												 <input name="wx[wx_mchid]" type="text" class="form-control" id="wx_mchid" value="{$wx['wx_mchid']}" placeholder=""   >
											</div>
											<div class="col-md-7 padding_7  font_color_4">{:L('Accounts_Wx_Mchid_P')}</div>
							        </div> 
								     <div class="row padding_7">  
											<div class="col-md-1 right padding_7 b1 sizefont_14">
												{:L('Accounts_Wx_Key')}
											</div>
											<div class="col-md-4">
												 <input name="wx[wx_key]" type="text" class="form-control" id="wx_key" value="{$wx['wx_key']}" placeholder=""   >
											</div>
											<div class="col-md-7 padding_7  font_color_4">{:L('Accounts_Wx_Key_P')}</div>
							        </div> 	
								     <div class="row padding_7">  
											<div class="col-md-1 right padding_7 b1 sizefont_14">
												{:L('Accounts_Wx_Appsecret')}
											</div>
											<div class="col-md-4">
												 <input name="wx[wx_appsecret]" type="text" class="form-control" id="wx_appsecret" value="{$wx['wx_appsecret']}" placeholder=""   >
											</div>
											<div class="col-md-7 padding_7  font_color_4">{:L('Accounts_Wx_Appsecret_P')}</div>
							        </div> 								
							  </div>
							  	<!--支付宝-->
								<DIV class="col-md-12 url" id="url1" style="display:none">
									<div class="row padding_7">
										<div class="col-md-1 right padding_7 b1 sizefont_14">
											{:L('OPEN')}
										</div>
										<div class="col-md-4">
											<label class="checkbox-inline">
													<input name="ali[alipay_open]" type="radio" value="1" <if condition="$ali['alipay_open'] eq 1">checked</if> data-switch-no-init> {:L('OPEN')}
											</label>
											<label class="checkbox-inline">
													<input name="ali[alipay_open]" type="radio" value="0" <if condition="$ali['alipay_open'] eq 0">checked</if> data-switch-no-init> {:L('CLOSE')}
											</label>
										</div>
									</div>
				
									<div class="row padding_7">
										<div class="col-md-1 right padding_7 b1 sizefont_14">
											{:L('PID')}
										</div>
										<div class="col-md-4">
											<input name="ali[alipay_partner]" type="text" class="form-control" id="alipay_partner" value="{$ali['alipay_partner']}" placeholder=""   >
										</div>
										<div class="col-md-6 padding_7  font_color_4">{:L('Accounts_Partner_P')}</div>
									</div>
									<div class="row padding_7">
										<div class="col-md-1 right padding_7 b1 sizefont_14">
											{:L('KEY')}
										</div>
										<div class="col-md-4">
											<input name="ali[alipay_key]" type="text" class="form-control" id="alipay_key" value="{$ali['alipay_key']}" placeholder=""   >
										</div>
										<div class="col-md-6 padding_7  font_color_4">{:L('Accounts_Wx_Mchid_P')}</div>
									</div>
									<div class="row padding_7">
										<div class="col-md-1 right padding_7 b1 sizefont_14">
											{:L('Accounts_Transport')}
										</div>
										<div class="col-md-4">
											<select name="ali[alipay_transport]" class="form-control">
											  <option value="http" <if condition="$ali['alipay_transport'] eq 'http' ">selected</if> >http</option>
											  <option value="https" <if condition="$ali['alipay_transport'] eq 'https' ">selected</if> >https</option>
                                            </select>
										</div>
										<div class="col-md-6 padding_7  font_color_4">{:L('Accounts_Transport_P')}</div>
									</div>
								</div>
			</DIV>  
	</div><!--变白区域-->
<!--内容结束--> 

                    <div class="padding_10"></div>
                    <div align="row">
					    <div class="col-md-12 center">
						      <button type="submit" class="btn btn-success">{:L('SET')}</button>
						</div>
					</div>			
</form>		
</div>

<script>
$(document).ready(
    function()
	{ 
	   p={template:'<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content red4"></div></div>'};
       $('[data-toggle="popover"]').popover(p)
	}
	
);

function url(id)
{
	  $(".url_title").removeClass("active");
	  $("#url_title"+id).addClass("active");
	  $(".url").hide("slow");
	  $("#url"+id).show("slow");
	  
} 

</script>
</body>
</html>
