<!--底部-->
<div class="footer">
	<table width="100%" border="0" cellpadding="1" cellspacing="0">
      <tr>
        <td onClick="location.href='{:U('Shop/index/shop_index/','shop_id='.$shop_info['id'].'')}'">{:L('Shop_index_foot_nav1')}</td>
        <td onClick="location.href='{:U('Shop/index/goods_list/','shop_id='.$shop_info['id'].'')}'">{:L('Shop_index_foot_nav2')}</td>
        <td onClick="location.href='{:U('Shop/index/show_info/','shop_id='.$shop_info['id'].'')}'">{:L('Shop_index_foot_nav3')}</td>
      </tr>
	</table>
</div>
</body>
</html>
