<div class="col-md-12  bottom_line_10  padding_7">
 	   <div class="col-md-1 right">
				<br /><br /><br /><br />
 	           <span class="right b1 sizefont_14 ">{:L('ADMIN_Field_Form_Par')}</span>
       </div>
	    <div class="col-md-11"> 

			<div class="col-md-12 bottom_line_10 padding_7">
			
			            <div class="col-md-1 left padding_5 sizefont_12">
                            {:L('ADMIN_Field_Form_Image_Allow_Type')}
			            </div> 
						<div class="col-md-4">
	                         <input name="setting[allow_type]" type="text" class="form-control input-sm" id="setting[allow_type]" value="gif|jpg|jpeg|png|bmp" >
						</div>
			</div> 	
									
			<div class="col-md-12 padding_7  bottom_line_10" id="len_m">
						<div class="col-md-1 left padding_5 sizefont_12">
                            {:L('ADMIN_Field_Form_Downfiles_Min')}
			            </div> 
						<div class="col-md-1">
                             <input name="setting[len_min]" type="text" class="form-control input-sm" id="setting[len_min]" value="1" >
			            </div> 
						<div class="col-md-8 padding_7  font_color_4" >{:L('ADMIN_Field_Form_Downfiles_Min_P')}</div>
			</div> 	
			
			<div class="col-md-12 padding_7  bottom_line_10" id="len_m">
						<div class="col-md-1 left padding_5 sizefont_12">
                            {:L('ADMIN_Field_Form_Downfiles_Max')}
			            </div> 
						<div class="col-md-1">
                             <input name="setting[len_max]" type="text" class="form-control input-sm" id="setting[len_max]" value="10" >
			            </div> 
						<div class="col-md-8 padding_7  font_color_4" >{:L('ADMIN_Field_Form_Downfiles_Max_P')}</div>
			</div> 
			<div class="col-md-12 bottom_line_10 padding_7">
			
			            <div class="col-md-1 left padding_5  sizefont_12">
                            {:L('ADMIN_Field_Form_Image_Checks')}
			            </div> 
						<div class="col-md-4">
	                         <label class="checkbox-inline"><input name="setting[checks]" type="radio" id="setting[checks]" value="1"  checked="checked" /> {:L('YSE')}</label><label class="checkbox-inline"><input name="setting[checks]" type="radio" id="setting[checks]" value="0"/> {:L('NO')}</label>
						</div>
			</div>	
							
			<div class="col-md-12 padding_7">
			
			            <div class="col-md-1 left padding_5  sizefont_12">
                            {:L('ADMIN_Field_Form_Downfiles_Type')}
			            </div> 
						<div class="col-md-4">
	                         <label class="checkbox-inline"><input name="setting[downfiles_type]" type="radio" id="setting[downfiles_type]" value="1"  checked="checked"/> {:L('ADMIN_Field_Form_Downfiles_Type_1')}</label><label class="checkbox-inline"><input name="setting[downfiles_type]" type="radio" id="setting[downfiles_type]" value="2" /> {:L('ADMIN_Field_Form_Downfiles_Type_2')}</label>
						</div>
			</div> 
			
			<div class="col-md-12 padding_7">
			
			            <div class="col-md-1 left padding_5  sizefont_12">
                            {:L('ADMIN_Field_Form_Downfiles_Link')}
			            </div> 
						<div class="col-md-4">
	                         <label class="checkbox-inline"><input name="setting[downfiles_field_type]" type="radio" id="setting[downfiles_field_type]" value="1"  checked="checked"/> {:L('ADMIN_Field_Form_Downfiles_Link_1')}</label><label class="checkbox-inline"><input name="setting[downfiles_field_type]" type="radio" id="setting[downfiles_field_type]" value="2" /> {:L('ADMIN_Field_Form_Downfiles_Link_2')}</label>
						</div>
			</div> 
			

       </div>
</div>	

<div class="col-md-12  bottom_line_10  padding_7">
 	   <div class="col-md-1 right top_padding_5">
 	           <span class="right b1 sizefont_14 ">{:L('ADMIN_Field_Form_Text_Property')}</span>
       </div>
	    <div class="col-md-11"> 
				<div class="col-md-4">
					 <input name="setting[property]" id="setting[property]" type="text" class="form-control input-sm" placeholder="" aria-hidden='true' data-toggle='popover' data-container="body"  data-trigger="hover"  data-placement='right' title=''  data-content='{:L('ADMIN_Field_Form_Property_Info_P')}'>
				</div>
				<div class="col-md-8 padding_7  font_color_4">{:L('ADMIN_Field_Form_Property_Info_P')}</div>
       </div>
</div>	
	
<script>
$(document).ready(
    function()
	{ 
	   p={template:'<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content red4"></div></div>'};
       $('[data-toggle="popover"]').popover(p)
	}
	
	
);

</script>
