<div class="col-md-12  bottom_line_10  padding_7">
 	   <div class="col-md-1 right">
				<br /><br /><br /><br />
 	           <span class="right b1 sizefont_14 ">{:L('ADMIN_Field_Form_Par')}</span>
       </div>
	    <div class="col-md-11"> 
			<div class="col-md-12 bottom_line_10 padding_7">
			
			            <div class="col-md-1 left padding_5 sizefont_12">
                            {:L('ADMIN_Field_Form_Css')}
			            </div> 
						<div class="col-md-4">
	                         <input name="setting[css]" id="setting[css]" type="text" class="form-control input-sm" value="{$setting[css]}" placeholder="">
						</div>
						
			</div> 

			
			<div class="col-md-12 bottom_line_10 padding_7">
			
			            <div class="col-md-1 left padding_5 sizefont_12">
                            {:L('ADMIN_Field_Form_Datetime_Time')}
			            </div> 
						<div class="col-md-3">
	                         <label class="radio-inline"><input name="setting[datetime_time]" type="radio" id="setting[datetime_time]" value="1" <if condition="$setting[datetime_time]==1">checked</if> /> 
	                         {:L('ADMIN_Field_Form_Datetime_Time_1')}</label><label class="radio-inline"><input name="setting[datetime_time]" type="radio" id="setting[datetime_time]" value="2"  <if condition="$setting[datetime_time]==2">checked</if>/> {:L('ADMIN_Field_Form_Datetime_Time_2')}</label>
						</div>
						
			</div> 
			
			<div class="col-md-12 bottom_line_10 padding_7">
			            <div class="col-md-1 left padding_5 sizefont_12">
                            {:L('ADMIN_Field_Form_Datetime_Close_Type')}
			            </div> 
						<div class="col-md-4">
	                         <label class="checkbox-inline"><input name="setting[close_type]" type="checkbox" id="setting[close_type]" value="1"  <if condition="$setting[close_type]">checked</if>/> {:L('ADMIN_Field_Form_Datetime_Close_Type_1')}</label>
						</div>
						
			</div> 
            <div class="col-md-12 padding_7">
			
			            <div class="col-md-1 left padding_5  sizefont_12">
                            {:L('REQUIRED')}
			            </div> 
						<div class="col-md-4">
	                         <label class="radio-inline"><input name="setting[len_min]" type="radio" id="setting[len_min]" value="1"  <if condition="$setting[len_min]">checked</if> /> {:L('YSE')}</label><label class="radio-inline"><input name="setting[len_min]" type="radio" id="setting[len_min]" value="0" <if condition="!$setting[len_min]">checked</if>/> {:L('NO')}</label>
						</div>
			</div>
<!--									
			<div class="col-md-12  padding_7">
			
			            <div class="col-md-1 left padding_5 sizefont_12">
                            {:L('ADMIN_Field_Form_Datetime_Format')}
			            </div> 
						<div class="col-md-4">
	                         <input name="setting[datetime_format]" type="text" class="form-control input-sm" id="setting[datetime_format]" value="{$setting[datetime_format]}" >
						</div>
			</div> 
			
			<div class="col-md-12  padding_7">
					<div class="panel panel-default">
					  <div class="panel-body">
						{:L('ADMIN_Field_Form_Datetime_Format_P_1')}
					  </div>
					</div>
			</div>	-->	 	
					

			

       </div>
</div>	

<div class="col-md-12  bottom_line_10  padding_7">
 	   <div class="col-md-1 right">
				<br /><br />
 	           <span class="right b1 sizefont_14 ">{:L('ADMIN_Field_Form_Datetime_Quick')}</span>
       </div>
	    <div class="col-md-11"> 
			<div class="col-md-12 bottom_line_10 padding_7">
			
			            <div class="col-md-1 left padding_5 sizefont_12">
                            {:L('ADMIN_Field_Form_Datetime_Quick_Prev_Days')}
			            </div> 
						<div class="col-md-2">
	                         <input name="setting[prev_days]" id="setting[prev_days]" type="text" class="form-control input-sm" value="{$setting[prev_days]}" placeholder="" aria-hidden='true' data-toggle='popover' data-container="body"  data-trigger="hover"  data-placement='right' title=''  data-content='{:L('ADMIN_Field_Form_Datetime_Quick_Days_P')}'>
						</div>
						<div class="col-md-4 padding_7">
	                        	<label class="checkbox-inline"><input name="setting[prev_week]" type="checkbox" id="setting[prev_week]" value="week" <if condition="$setting[prev_week]">checked</if>/> {:L('ADMIN_Field_Form_Datetime_Quick_Prev_Week')}</label> <label class="checkbox-inline"><input name="setting[prev_month]" type="checkbox" id="setting[prev_month]" value="month" <if condition="$setting[prev_month]">checked</if>/> {:L('ADMIN_Field_Form_Datetime_Quick_Prev_Month')}</label> <label class="checkbox-inline"><input name="setting[prev_year]" type="checkbox" id="setting[prev_year]" value="year" <if condition="$setting[prev_year]">checked</if>/> {:L('ADMIN_Field_Form_Datetime_Quick_Prev_Year')}</label>
						</div>
						
			</div> 
			<div class="col-md-12  padding_7">
			
			            <div class="col-md-1 left padding_5 sizefont_12">
                            {:L('ADMIN_Field_Form_Datetime_Quick_Next_Days')}
			            </div> 
						<div class="col-md-2">
	                         <input name="setting[next_days]" id="setting[next_days]" type="text" class="form-control input-sm" value="{$setting[next_days]}" placeholder="" aria-hidden='true' data-toggle='popover' data-container="body"  data-trigger="hover"  data-placement='right' title=''  data-content='{:L('ADMIN_Field_Form_Datetime_Quick_Days_P')}'>
						</div>
						<div class="col-md-4 padding_7">
	                        <label class="checkbox-inline"><input name="setting[next_week]" type="checkbox" id="setting[next_week]" value="week" <if condition="$setting[next_week]">checked</if> /> {:L('ADMIN_Field_Form_Datetime_Quick_Next_Week')}</label> <label class="checkbox-inline"><input name="setting[next_month]" type="checkbox" id="setting[next_month]" value="month" <if condition="$setting[next_month]">checked</if>/> {:L('ADMIN_Field_Form_Datetime_Quick_Next_Month')}</label> <label class="checkbox-inline"><input name="setting[next_year]" type="checkbox" id="setting[next_year]" value="year" <if condition="$setting[next_year]">checked</if>/> {:L('ADMIN_Field_Form_Datetime_Quick_Next_Year')}</label>
						</div>						
			</div> 
       </div>
</div>	

<div class="col-md-12  bottom_line_10  padding_7">
 	   <div class="col-md-1 right top_padding_5">
 	           <span class="right b1 sizefont_14 ">{:L('ADMIN_Field_Form_Text_Property')}</span>
       </div>
	    <div class="col-md-11"> 
				<div class="col-md-4">
					 <input name="setting[property]" id="setting[property]" type="text" value="{$setting[property]}"  class="form-control input-sm" placeholder="" aria-hidden='true' data-toggle='popover' data-container="body"  data-trigger="hover"  data-placement='right' title=''  data-content='{:L('ADMIN_Field_Form_Property_Info_P')}'>
				</div>
				<div class="col-md-8 padding_7  font_color_4">{:L('ADMIN_Field_Form_Property_Info_P')}</div>
       </div>
</div>	

<div class="col-md-12  bottom_line_10  padding_7">
 	   <div class="col-md-1 right  top_padding_5">
 	           <span class="right b1 sizefont_14">{:L('ADMIN_Field_Form_Set')}</span>
       </div>
	    <div class="col-md-11" id="reg"> 
			
			    <div class="col-md-12 padding_7" >
							<div class="col-md-1 left padding_5 sizefont_12">
								{:L('ADMIN_Field_Form_Search')}
							</div> 
							<div class="col-md-4" aria-hidden='true' data-toggle='popover' data-container="body"  data-trigger="hover"  data-placement='right' title=''  data-content='{:L('ADMIN_Field_Form_Search_Info_P')}'>
								  <label class="checkbox-inline"><input name="setting[search]" type="radio" id="setting[search]" value="1" <if condition="$setting[search]">checked</if>/> {:L('YSE')}</label><label class="checkbox-inline"><input name="setting[search]" type="radio" id="setting[search]" value="0"  <if condition="!$setting[search]">checked</if> /> {:L('NO')}</label>
							</div>
				</div>



       </div>
</div>	
<input name="setting[datetime_type]" type="hidden" value="{$setting[datetime_type]}" />
<script>
$(document).ready(
    function()
	{ 
	   p={template:'<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content red4"></div></div>'};
       $('[data-toggle="popover"]').popover(p)
	}
	
	
);
</script>
