<!DOCTYPE html>
<html lang="zh-CN">
<head>
<META content="IE=9.0000" http-equiv="X-UA-Compatible">
<meta http-equiv="Content-Type" content="text/html; charset=__CHARSET__" />
<LINK href="__STATIC__css/bootstrap.min.css" rel="stylesheet"> 
<LINK href="__STATIC__css/admin.css" rel="stylesheet"> 
<LINK href="__STATIC__css/switch.min.css" rel="stylesheet"> 
<SCRIPT src="__STATIC__js/jquery.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/bootstrap.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/switch.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/diy.js" type="text/javascript"></SCRIPT>
<title>{:L('ADMIN_Manage_TITLE')}-{:L('ADMIN_Menu_OPERATE')}</title>
</head>
<body>
<div class="container-fluid">
        <div class="row">			 
					<div class="input-group col-md-12">
						<div class="bg_black_14 bottom_line_10 padding_5 sizefont_14">{:RR('Admin/Auth/auth_list',L('ADMIN_Auth_Manage'),'btn btn-success btn-sm')} </div>
					 </div> 
        </div>
		<br>

	<form action="" method="post">	
<!--内容开始--> 	
	   <ul class="nav nav-tabs">
		  <li role="presentation" class="active url_title" onClick="url(0)" id="url_title0"><a href="#">{:L('BASIC_INFO')}</a></li>
       </ul>
		
		<div class="line_3 bg_white padding_10"> 
		<!--变换白色区域-->


               <div class="row">
					            
								<!--会员基本信息-->
								<DIV class="col-md-12 url" id="url0" style="display:">
										 <div class="row padding_8">		
												 <div class="col-md-3">
													 <div class="input-group col-md-12">
																<span class="input-group-addon">{:L('ADMIN_Auth_Title')}</span>
							                           	<input name="title" type="text" class="form-control" id="title" placeholder="{:L('ADMIN_Auth_Title')}">
													 </div> 
												</div>
                                                
                                                <div class="col-md-3">	
													 <div class="input-group">
																<span class="input-group-addon">{:L('ADMIN_Auth_Class')}</span>
							                           	    <select class="form-control" name="class_id">
                                                               <foreach name="auth_class" item="v" key="k" >
                                                                <option value='{$v['id']}'>{$v['title']}</option>	
                                                               </foreach>
															</select>
													 </div>													       
												</div>
 												 <div class="col-md-3">
													 <div class="input-group col-md-12">
																<span class="input-group-addon">{:L('SORT')}</span>
							                           	<input name="sort" type="text" class="form-control" id="title" value="0" placeholder="{:L('ADMIN_Auth_Title')}">
													 </div> 
												</div>                                               
												<div class="col-md-1">		
									<input name="status"   type="checkbox" id="switch-animate" value="1" checked data-size="small"  data-on-color="success" data-on-text="{:L('OPEN')}" data-off-color="warning" data-off-text="{:L('CLOSE')}" data-handle-width="25" data-label-width="1">
												</div>
										 </div>
                                         
										 <div class="row padding_8">		
												 <div class="col-md-4">
													 <div class="input-group col-md-12">
																<span class="input-group-addon">{:L('ADMIN_Auth_Condition')}</span>
							                           	<input name="condition" type="text" class="form-control" id="condition" placeholder="{:L('ADMIN_Auth_Condition')}">
													 </div> 
												</div>
												<div class="col-md-1">		
									                <input name="condition_open"   type="checkbox" id="switch-animate" value="1" checked data-size="small"  data-on-color="success" data-on-text="{:L('OPEN')}" data-off-color="warning" data-off-text="{:L('CLOSE')}" data-handle-width="25" data-label-width="1"> 
												</div>
                                                <div class="col-md-7 padding_7  font_color_4">{:L('ADMIN_Auth_Condition_P')}</div>
										 </div>
                                         									 
										 <div class="row padding_8">		
												 <div class="col-md-3">
													 <div class="input-group col-md-12">
																<span class="input-group-addon">{:L('ADMIN_Auth_M')}</span>
								<input name="auth_m" type="text" class="form-control" id="auth_m" value="" placeholder="{:L('ADMIN_Auth_M')}">
													 </div> 
												</div>
												 <div class="col-md-3">
													 <div class="input-group col-md-12">
																<span class="input-group-addon">{:L('ADMIN_Auth_C')}</span>
								<input name="auth_c" type="text" class="form-control" id="auth_c" value="" placeholder="{:L('ADMIN_Auth_C')}">
													 </div> 
												</div>                                                
												 <div class="col-md-3">
													 <div class="input-group col-md-12">
																<span class="input-group-addon">{:L('ADMIN_Auth_A')}</span>
								<input name="auth_a" type="text" class="form-control" id="auth_a" value="" placeholder="{:L('ADMIN_Auth_A')}">
													 </div> 
												</div>	
												 <div class="col-md-3">
													 <div class="input-group col-md-12">
																<span class="input-group-addon">{:L('ADMIN_Auth_P')}</span>
								<input name="auth_p" type="text" class="form-control" id="auth_p" value="" placeholder="{:L('ADMIN_Auth_P')}" aria-hidden='true' data-toggle='popover' data-container="body"  data-trigger="hover"  data-placement='top' title=''  data-content="{:L('ADMIN_Auth_P_P')}">
													 </div> 
												</div>	                                                											
										 </div>				
						     </DIV>

		      </div>  <!--row div end-->
		 <!--变换白色区域完-->
		 </div>
<!--内容结束--> 		 
		<div  class="padding_10"></div> 
		 <div  class="row">
		 		 <div  class="col-md-12 center">
		                <button type="submit" class="btn btn-success">{:L('ADD')}</button>
		         </div>
		 </div>

</form>
</div>

<script>
function url(id)
{
	  $(".url_title").removeClass("active");
	  $("#url_title"+id).addClass("active");
	  $(".url").hide("slow");
	  $("#url"+id).show("slow");
	  
} 
$(document).ready(
    function()
	{ 
	   p={template:'<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content red4"></div></div>'};
       $('[data-toggle="popover"]').popover(p)
	}
	
);
</script>
</body>
</html>
