<!DOCTYPE html>
<html lang="zh-CN">
<head>
<META content="IE=9.0000" http-equiv="X-UA-Compatible">
<meta http-equiv="Content-Type" content="text/html; charset=__CHARSET__" />
<LINK href="__STATIC__css/bootstrap.min.css" rel="stylesheet"> 
<LINK href="__STATIC__css/admin.css" rel="stylesheet"> 
<LINK href="__STATIC__css/switch.min.css" rel="stylesheet"> 
<SCRIPT src="__STATIC__js/jquery.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/bootstrap.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/switch.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/diy.js" type="text/javascript"></SCRIPT>
<title>{:L('ADMIN_Manage_TITLE')}-{:L('ADMIN_Menu_OPERATE')}</title>
</head>
<body>

<div class="container-fluid">
<div class="padding_5"></div>


	<form action="" method="post"  class="form-inline">
    <input name="parent_ids" type="hidden" class="form-control" id="name"    value="{$parent_ids}">
    <input name="id" type="hidden" class="form-control" id="name"    value="{$id}">
<!--内容开始--> 	
	   <ul class="nav nav-tabs">
		  <li role="presentation" class="active url_title" onClick="url(0)" id="url_title0"><a href="#">{:L('area_op')}</a></li>
       </ul>
		
		<div class="line_3 bg_white padding_10"> 
		<!--变换白色区域-->


               <div class="row">
					            
								<!--会员基本信息-->
								<DIV class="col-md-12 url" id="url0" style="display:">
                                
                                 <div class="row padding_8">		
												 <div class="col-md-4">
													 <div class="input-group col-md-12" aria-hidden='true' data-toggle='popover' data-container="body"  data-trigger="hover"  data-placement='right' title=''>
																<span class="input-group-addon">{:L('area_name')}</span>
								<input name="name" type="text" class="form-control" id="name" value="{$areas['name']}">
													 </div> 
												</div>
												
										 </div>
                                                                        <div class="row padding_8">		
												 <div class="col-md-4">
													 <div class="input-group col-md-12" aria-hidden='true' data-toggle='popover' data-container="body"  data-trigger="hover"  data-placement='right' title=''>
																<span class="input-group-addon">{:L('area_orders')}</span>
								<input name="orders" type="text" class="form-control" id="name"  value="{$areas['orders']}"/>
													 </div> 
												</div>
												
										 </div>  
                                      <div class="row padding_8">		
												 <div class="col-md-4">
													 <div class="input-group col-md-12" aria-hidden='true' data-toggle='popover' data-container="body"  data-trigger="hover"  data-placement='right' title=''>
																<span class="input-group-addon">{:L('area_parentid')}</span>

                                                      <span id='area_id'   class="form-group">{$area_id}</span>
													 </div> 
												</div>
												
										 </div>
                                         
                                           <div class="row padding_8">		
												 <div class="col-md-4">
													 <div class="input-group col-md-12" aria-hidden='true' data-toggle='popover' data-container="body"  data-trigger="hover"  data-placement='right' title=''>
																<span class="input-group-addon">{:L('area_isshow')}</span>
                                                        <span><select name="is_show" class="form-control">
                                <option value="1" <if condition="$areas['is_show'] eq 1">selected</if>>{:L('area_isshow_yes')}</option>
                                <option value="2" <if condition="$areas['is_show'] eq 2">selected</if>>{:L('area_isshow_no')}</option>
                                </select></span>
													 </div> 
												</div>
												
										 </div>       
								  </div>  				 
										                                  
							</DIV>
							 <!--权限设置完-->
		      </div>  <!--row div end-->
		 <!--变换白色区域完-->
		 </div>
<!--内容结束--> 		 
		<div  class="padding_10"></div> 
		 <div  class="row">
		 		 <div  class="col-md-12 left">
                 
		                 <button type="submit" class="btn btn-success">{:L('submit')}</button>
                         <button type="button" class="btn btn-default" onClick="history.back(-1)">{:L('back')}</button>
		         </div>
		 </div>

</form>
</div>

<script>

function url(id)
{
	  $(".url_title").removeClass("active");
	  $("#url_title"+id).addClass("active");
	  $(".url").hide("slow");
	  $("#url"+id).show("slow");	  
} 
		
$(document).ready(
    function()
	{ 
	   p={template:'<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content red4"></div></div>'};
       $('[data-toggle="popover"]').popover(p)
	}
	
);
</script>
</body>
</html>
