<include file="head" />
<div class="black_install">
<br />
<div class="progress_top">
    <li style="width:150px">&nbsp;
    </li>
    <li>
    	<div><img  src="__ROOT__/Public/css_js_font_img/img/install/c_s.png" style=" float:left"/><img  src="__ROOT__/Public/css_js_font_img/img/install/f_s.png" style="margin-left:-10px;margin-right:-10px;"></div>
        <p>{:L('STEP_1')}</p>
    </li>
    <li>
    	<div><img  src="__ROOT__/Public/css_js_font_img/img/install/c_s.png" style=" float:left"/><img  src="__ROOT__/Public/css_js_font_img/img/install/f_s.png" style="margin-left:-10px;margin-right:-10px;"></div>
        <p>{:L('STEP_2')}</p>
    </li>
    <li>
    	<div><img  src="__ROOT__/Public/css_js_font_img/img/install/c_s.png" style=" float:left"/><img  src="__ROOT__/Public/css_js_font_img/img/install/f_s.png" style="margin-left:-10px;margin-right:-10px;"></div>
        <p>{:L('STEP_3')}</p>
    </li>
    <li>
    	<div><img  src="__ROOT__/Public/css_js_font_img/img/install/c_s.png" style=" float:left"/><img  src="__ROOT__/Public/css_js_font_img/img/install/f_s.png" style="margin-left:-10px;margin-right:-10px;"></div>
        <p>{:L('STEP_4')}</p>
    </li>
    <li>
    	<div><img  src="__ROOT__/Public/css_js_font_img/img/install/c_s.png"/></div>
        <p>{:L('STEP_5')}</p>
    </li>
</div>
<div class="content_install">
<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center" style=" margin-top:20px; height:460px; text-align:center; font-size:16px; ">
  <tr>
    <td valign="top"><br />
    <h1 style="color:#F00; line-height:50px;">恭喜您<br />
	 安装成功</h1><br />

     <p align="left" style="width:400px; margin:0px auto; line-height:35px;">
   		网站名称：{:C('site_name')}<br />
        前台地址：<a href="{:C('site_url')}{:C('root_path')}">{:C('site_url')}{:C('root_path')}</a><br />
        后台地址：<a href="{:C('site_url')}{:C('root_path')}admin.php">{:C('site_url')}{:C('root_path')}admin.php</a><br />
     </p>
    </td>
  </tr>
</table>
</div>
</div>
</body>
</html>
