<!DOCTYPE html>
<html lang="zh-CN">
<head> 
<META content="IE=9.0000" http-equiv="X-UA-Compatible">
<meta http-equiv="Content-Type" content="text/html; charset=__CHARSET__" />
<LINK href="__STATIC__css/bootstrap.min.css" rel="stylesheet"> 
<LINK href="__STATIC__css/admin.css" rel="stylesheet"> 
<LINK href="__STATIC__css/switch.min.css" rel="stylesheet"> 
<SCRIPT src="__STATIC__js/jquery.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/bootstrap.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/switch.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/diy.js" type="text/javascript"></SCRIPT>
<title>{:L('ADMIN_Manage_TITLE')}-{:L('ADMIN_Admin')}</title>
</head> 
<body>

<div class="container-fluid">
<form name="form1" id="form1" method="post" action="{:U('Admin/Menu/menu_all')}" onSubmit="return return_()">
			<div class="row bg_black_14 bottom_line_10" >			 
						<div class="input-group col-md-12">
								<div class=" padding_5 sizefont_14">
		                            {:RR('Admin/Admin/admin_add',L('ADMIN_Admin_Add'),'btn btn-success btn-sm')}                           			
						        </div>
                       </div> 
            </div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-hover">
<thead>
  <tr>
    <td width="5%" height="32" align="center" valign="middle">ID</td>
    <td width="16%" align="center" valign="middle">{:L('ADMIN_Admin')}</td>
    <td width="10%" align="center" valign="middle">{:L('ADMIN_Admin_Role')}</td>
    <td width="11%" align="center" valign="middle">{:L('OPEN')}</td>
    <td width="20%" align="center" valign="middle">{:L('ADMIN_Admin_addtime')}</td>
    <td width="28%" align="center" valign="middle">{:L('ADMIN_Admin_Operate')}</td>
  </tr>
</thead>  
<foreach name="info" item="v" key="k" >

  <tr>
    <td height="20" align="center" valign="middle" >
      {$v[id]}</td>
    <td align="center" valign="middle"  >{$v[user]}</td>
    <td align="center" valign="middle">{$v[role]}</td>
    <td align="center" valign="middle"><input name="status"   type="checkbox" id="status" value="{$v[id]}" <if condition="$v[status] eq 1">checked</if>  data-size="mini"  data-on-color="success" data-on-text="{:L('OPEN')}" data-off-color="warning" data-off-text="{:L('CLOSE')}" data-handle-width="25" data-label-width="1"></td>
    <td align="center" valign="middle">{:date('Y-m-d H:i:s',$v[addtime])}</td>
    <td align="center" valign="middle">
	{:RR(array('Admin/Admin/admin_edit',"id=".$v[id]),"<span class='glyphicon glyphicon-pencil sizefont_16 ' aria-hidden='true' data-toggle='tooltip' data-placement='top' title='".L('EDIT')."'></span>")}
	<if condition="$v[is_del] eq 1">
	<span class='glyphicon glyphicon-trash  sizefont_16 font_color_5' aria-hidden='true' data-toggle='tooltip' data-placement='top' title='{:L('DEL')}'></span>
	<else/>
	{:RR(array("Admin/Admin/admin_del","id=".$v[id]),"<span class='glyphicon glyphicon-trash  sizefont_16' aria-hidden='true' data-toggle='tooltip' data-placement='top' title='".L('DEL')."'></span>","","onClick=\\"return  jq_confirm(this,'".L('ADMIN_Del_Admin',array('admin_user'=>$v[user]))."')\\"")} 
	</if>
</td>
  </tr>
</foreach>
</table>

{$page_show}
</form>
<script>

$('input[id="status"][type="checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
        menu_status=state?1:0;
	    URL="{:U('Admin/AdminAjax/admin_ajax')}";
		para="{'id':'"+$(this).prop("value")+"','status':"+menu_status+"}";
		para=eval('(' + para + ')');
     	$.getJSON(URL,para,function(json){
               if(json.err)
			   {
		            jq_alert(json.content);
			   }
			   
		});
});
$(document).ready(
    function()
	{ 
        $("[data-toggle='tooltip']").tooltip();
	}
	
);
</script>
</div>
</body>
</html>
