<include file="User/header" />
<div class="all2 white_ap box-shadow">
<h3 align="center" style="color:#0C0">验证成功</h3>
<DIV class="col-md-12 url" id="url0" style="display:">
										 <div class="row padding_8">		
												 <div class="col-md-4">
													 <div class="input-group col-md-12">
																<span class="input-group-addon">团购展示</span>
																<img src="{$meg['thumb']}" height="60" width="60">
													 </div> 
												</div>
										 </div>
                                         <div class="row padding_8">		
												 <div class="col-md-4">
													 <div class="input-group col-md-12">
																<span class="input-group-addon">团购名称</span>
																{$meg['title']}
													 </div> 
												</div>
										 </div>
                                         <div class="row padding_8">		
												 <div class="col-md-4">
													 <div class="input-group col-md-12">
																<span class="input-group-addon">团购价格</span>
																{$meg['price']}
													 </div> 
												</div>
										 </div> 
                                                                            
                                         <div class="row padding_8">		
												 <div class="col-md-4">
													 <div class="input-group col-md-12">
																{$meg['content']}
													 </div> 
												</div>
										 </div>                                         				
</DIV>
</div>
<include file="user/footer" />
</body>
</html>
