
.screening{ width:100%; border:#e3e3e3 solid 1px; background-color:#FFF; padding:10px 5px 10px 5px;-webkit-box-shadow:rgba(0, 0, 0, .1) 0 1px 5px; -moz-box-shadow:rgba(0, 0, 0, .1) 0 1px 5px; box-shadow:rgba(0, 0, 0, .1) 0 1px 5px ;}
.screening dl{ width:100%; font-size:14px;line-height:21px;}
.screening dt{ float:left; color:#999; margin-top:8px}
.screening dd{ float:right; margin-right:720px; padding-bottom:10px;}
.screening dd a{ display:block; float:left; padding:0 6px; margin-top:8px; margin-left:10px; margin-right:3px; display:inline; white-space:nowrap}
.screening dd a:hover{background-color:#f06000;color:#FFF;}
.screening dd a span{ float:left}
.screening dd a i{ width:7px; height:4px; float:left; background:url(//img2.233.com/wx/tiku/v1/skin/a/tk_main.png) -393px -32px;font-size:0; margin-left:5px; margin-top:9px}
.screening dd a:hover i{ background-position: -393px -53px}
.screening dd a:hover .pgdn{background-position: -393px -70px}
.screening .ul-show{ width:895px; padding:0px 10px 8px 0px; background-color:#f8f7f3; clear:both;zoom:1; margin-bottom:3px}
.screening .ul-check{ background-color:#f06000;color:#FFF;}
.screening .ul-check:hover{color:#FFF}
.screening .ul-check i{ background-position: -393px -70px}
.screening dd a.ul-check:hover i{ background-position: -393px -70px}
.screening .dateTxt{margin:0; margin-top:7px;padding:0 10px;float:left; margin-left:10px; display:inline;border:1px solid #cdcfd1; border-bottom-color:#abadb2;background:#fff; position:relative; line-height:23px; height:23px; width:75px;width:170px;background:url(//img2.233.com/wx/tiku/v1/skin/a/tk_gd.png) no-repeat 170px -194px;}

.screening-dn{ width:998px;border:#e3e3e3 solid 1px; border-top:#f9cccb solid 1px; position:relative; margin-top:-1px; background-color:#f3f3f3; text-align:center;}
.screening-dn .btn{ display:block; background-color:#fff; border:#f9cccb solid 1px; border-top-color:#FFF; position:relative; z-index:2;  width:100px; padding-right:10px; margin:0 auto;margin-top:-1px;line-height:30px;border-radius:0 0 5px 5px; color:#f06000; font-weight:bold; position:relative;}
.screening-dn .btn em{ display:block; width:15px; height:7px; font-size:0;background:url(//img2.233.com/wx/tiku/v1/skin/a/tk_main.png) -389px -90px; position:absolute; right:24px; bottom:11px}
.screening-dn .btn .dn{ background-position: -391px -104px}



.main-nav:after,.screening dl:after{ display:block;visibility:hidden;clear:both;height:0;content:'.';}

#footer .a2{ border-top: none}
#elevator_item { width:60px; height:100px; position:fixed; right:15px; bottom:100px; z-index: 99;_position:absolute;_top: expression(document.documentElement.clientHeight-410+documentElement.scrollTop +"px");}
#elevator_item.off { opacity:0; visibility:hidden }
#elevator { display:block;width:60px; height:35px;  background-color:#444; background-color:rgba(0, 0, 0, .6); border-radius:2px; box-shadow:0 1px 3px rgba(0, 0, 0, .2); cursor:pointer; margin-bottom:10px ;background:url(//img2.233.com/wx/tiku/v1/skin/a/transparent_bg.png) repeat; padding-top:15px}
#elevator i{width:27px; height:17px; display:block; margin:0 auto; background:url(//img2.233.com/wx/tiku/v1/skin/a/tk_gd.png) 0px -54px no-repeat; }
#elevator:hover { background-color:rgba(0, 0, 0, .7) }
#elevator:active { background-color:rgba(0, 0, 0, .75) }
#elevator_item .qr,#elevator_item .feedback{ display:block; width:60px; height:40px; padding-top:13px;border-radius:2px; background:url(//img2.233.com/wx/tiku/v1/skin/a/transparent_bg.png) repeat; box-shadow:0 1px 3px rgba(0, 0, 0, .2); cursor:pointer; margin-bottom:10px}
#elevator_item .qr i,#elevator_item .feedback i{width:32px; height:25px; display:block; margin:0 auto;background:url(//img2.233.com/wx/tiku/v1/skin/a/tk_gd.png) -34px -49px no-repeat; }
#elevator_item .qr:hover,#elevator_item .feedback:hover { background-color:rgba(0, 0, 0, .7) }
#elevator_item .feedback i{ background-position:-77px -51px; }

.ui-page{ height:25px; line-height:25px; padding:15px 0px 15px; text-align:center; clear:both;}
.ui-page *{display:inline-block;vertical-align:middle;}
.ui-page a,.ui-page b{ display:inline-block; padding:0px 9px; color:#333; background:#FFF; border:1px #ccc solid; height:25px; margin:0px 3px; font:bold 12px/25px Arial; color:#555; }
.ui-page b{ border:none; color:#555; margin-right:0px;}
.ui-page a.ui-page-turn{ display:inline-block; padding:0px 12px; font:normal 12px/25px "\u5b8b\u4f53";content:'\3C';}
.ui-page a.ui-page-turn:hover{background:#f0f0f0; color:#333; border:1px #ddd solid;-moz-box-shadow:#f5f5f5 1px 1px 2px;-webkit-box-shadow:#f5f5f5 1px 1px 2px;box-shadow:#f5f5f5 1px 1px 2px; }
.ui-page a:hover{ background:#f5f5f5; color:#333;}
.ui-page a.z-on,.ui-page a.z-on:hover{ background:#f06000; color:#FFF; border:1px #f06000 solid;}
.ui-page .ui-page-txt{display:inline-block;border:1px #ccc solid; width:40px; padding:0px 5px; height:25px; line-height:25px;color:#555; box-shadow:0px 1px 1px 2px #f8f8f8 inset; overflow:hidden; margin-right:5px; outline:none;}
.ui-page .ui-page-skip b{ font-weight:normal;}
.ui-page .ui-page-submit{ font-weight:normal;}


.np-post-footer:after{ display:block;visibility:hidden;clear:both;height:0;content:'.';}
.reply-box{ background-color:#f1f1f1; padding:20px; border-bottom:#d5d5d5 solid 1px}
.reply-box-hd{ width:100%;}
.reply-box-hd span{ width:120px; height:20px; background:url(//img2.233.com/wx/tiku/v1/skin/a/tk_gd.png) -44px -197px; float:left}
.reply-box-hd a{ font-size:14px; font-family:"Microsoft Yahei"}
.reply-box-hd b{ color:#c00}
.reply-box-cont textarea{width:97%;height:72px; line-height:24px; float:left; border-radius:6px;box-shadow: 0 1px 1px #C6C6C6 inset; overflow:auto; padding:10px 10px; background:#fff; font-size:14px; margin-top:20px;border: #ABABAB solid 1px;outline: none; resize: none}
.reply-box-bd{ width:100%; padding-top:10px}
.reply-box-bd i{ width:17px; height:17px; display:block; background:url(//img2.233.com/wx/tiku/v1/skin/a/tk_gd.png) -28px -197px; float:left; margin-top:2px}
.reply-box-bd .login-link{ float:left; padding-left:10px;font-family:"Microsoft Yahei"; font-size:14px}
.reply-box-bd .login-link b{color:#059}
.reply-box-bd .login-btn{ width:87px; height:34px; line-height:34px; float:right; font-weight:bold; color:#FFF;background-color:#f06000; border:#df5900 solid 1px; font-size:14px; text-align:center;}
.reply-box-bd .login-btn:hover{background-color:#df5900; color:#fff}
.reply-info{ width:100%;}
.reply-info-hd{ width:100%; background-color:#f1f1f1; border-top:#FFF solid 1px}
.reply-info-hd span{font-family:"Microsoft Yahei"; font-size:16px; float:left; line-height:40px; font-weight:bold; padding-left:20px}
.reply-info-hd .btn{ width:56px; height:23px; background:url(//img2.233.com/wx/tiku/v1/skin/a/tk_gd.png) -120px -54px; float:left; margin-top:10px; margin-left:20px; display:inline; cursor:pointer}
.reply-info-hd .btn:hover{ background-position:-120px -27px}

.np-avatar{ border-radius:4px;}
.np-avatar{ cursor:pointer; -webkit-user-select: none}
.np-post{zoom:1;}
.np-post{ border-bottom:solid 1px;}
.np-post-header{ padding-top:10px;line-height:20px; }
.np-post-content{ margin-top:6px; font-size:14px; line-height:22px; width:98%}
.np-post-content p{word-wrap: break-word;}
.np-post-footer{ margin-top:3px; padding-bottom:5px; width:98%; font-size:12px }
.np-post-footer a{ margin-left:10px;}
.np-post-footer em {font-style:normal}
.np-post-footer .np-btn-newreply{ margin-right:0; float:right; margin-top:4px; *margin-top:-30px;}

/*.np-comment-list{ max-height: 350px;overflow: auto; padding: 1px 0;}*/
.np-comment-list .np-post{ position:relative; padding-left:60px;vertical-align:top;}
.np-comment-list .np-post-body{ padding-left:10px; position:relative}
.np-comment-list .np-avatar{ position:absolute; top:10px; left:20px;}
.np-comment-list .np-post-header span{ margin-right:3px;}
.np-comment-list .np-post-header .np-time{ margin-left:7px;}
.np-comment-list .np-btn-report{position:absolute; margin-left:50px; right:0; top:16px;display:none;cursor:pointer;z-index:2}
.np-comment-list a.report{background-position:-449px -61px;margin-left:0px;padding-left:15px}
.np-comment-list a.report:hover,.np-notice-list a.report:hover{background-position:-449px -41px;}

.np-comment-list .np-post .np-post{ padding-left:35px; border-top:dotted 1px;}
.np-comment-list .np-post .np-post .np-post-content,.np-comment-list .np-post .np-post .np-post-footer{ margin-top:1px;}

.np-avatar{ width:40px; height:40px;}
.np-user{ display:inline-block; color:#059!important}
.np-user:hover{ text-decoration:none; color:#f06000!important}
.np-time{ display:inline-block;}
.np-icon-reply-weak{ padding-left:20px; background-position:-185px 3px;}
.np-status{ width:8px; height:8px; background:url(//img2.233.com/wx/tiku/v1/skin/a/tk_gd.png) -112px -793px; display:inline-block; font-size:0;position:absolute; left:52px; top:42px; margin-bottom:-10px; z-index:55}
.np-status.on-line{ background-position: -112px -781px;}
.np-cream{ width:54px; height:32px;background:url(//img2.233.com/wx/tiku/v1/skin/a/tk_gd.png) -123px -470px; position:absolute; right:20px; top:20px;}
.children .np-status{ left:32px}

.np-btn{ display:inline-block;}
.np-btn:hover{ text-decoration:none;}
.np-btn-upvote{padding-left:20px;background-position:-185px -57px;margin-right:6px}
.np-btn-upvote:hover{background-position:-185px -82px}
.np-btn-oppose{padding-left:20px;background-position:-185px -465px;margin-right:6px}
.np-btn-oppose:hover{background-position:-185px -440px}
.np-btn-reply{padding-left:19px;background-position:-185px 3px;}
.np-btn-reply:hover{background-position:-185px -28px}

.np-tip-newpost{clear:both;position:absolute; top:53px; left:20px; width:40px; height:24px; background:url(//img2.233.com/wx/tiku/v1/skin/a/tk_gd.png) -120px -375px; color:#FFF; text-align:center; padding-top:1px; cursor:pointer}
.np-icon-reply-weak,.report,.np-btn-upvote,.np-btn-reply,.np-btn-oppose{ background-image:url(//img2.233.com/wx/tiku/v1/skin/a/tk_gd.png); background-repeat:no-repeat;}
.np-post-header,.np-post-footer,.np-time,.np-btn:link,.np-frame .np-btn-active:hover{ color:#999;}
.np-btn:hover{color:#555;}
.np-comment-list .np-post .np-post{border:none; border-top: 1px dotted #CCC;}
.np-post{border-color:#DDD;}
.children .np-avatar{ left:0px;}
.children .np-tip-newpost{ left:0}

.reply-textarea{width:97%;}
.reply-textarea textarea{ width: 98%;padding: 1%;border: #D5D5D5 solid 1px;border-bottom-color: #E3E3E3;border-radius: 3px;outline: none;resize: none;box-shadow: 0 1px 1px #F2F2F2 inset;}
.np-reply-box-info{ float:left; line-height:25px;}
.np-reply-box-info .pop_user_login{ color:#f06000; font-weight:bold}
.np-reply-box-footer{ padding:10px 0}
.np-reply-box-footer .submit{ float:right;line-height:30px; padding:0 20px; background-color:#f06000; border:#df5900 solid 1px; color:#FFF;-moz-border-radius:3px;  -webkit-border-radius:3px;  border-radius:3px; margin-right:-0.4%; position:relative}
.np-reply-box-footer .submit:hover{ background-color:#df5900; color:#fff}

.reply-loading{ width:100%; line-height:40px; font-family:"Microsoft Yahei"; font-size:14px; color:#999; text-align:center; display:block; background:#f8f8f8; background:-webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f2f2f2)); background:-moz-linear-gradient(top, #fefefe, #f8f8f8);}
.reply-loading:hover{background:#f2f2f2; }
.children .reply-textarea{width:96%;padding-left:10px}


.xxm-poptip{ width:250px;position:relative; box-shadow:0px 0px 2px 2px #FDF7DF; border-radius:3px; position:absolute; z-index:99}
.xxm-poptip-cont{ padding:8px 12px; border:1px #FFBB76 solid; background:#fffcee; border-radius:3px; font:normal 12px/20px "\5b8b\4f53";color:#666; }
.xxm-poptip-arrow{position:absolute;left:25px; top:-9px; clear:both; }
.xxm-poptip-arrow em,.xxm-poptip-arrow i{ height:19px; width:17px; font-family:Simsun; font-size:16px; line-height:21px; overflow:hidden;position:absolute; font-style:normal; }
.xxm-poptip-arrow i{ top:1px;color:#fffcee;}
.xxm-poptip-arrow em{color:#FFBB76;}
.xxm-poptip-cont .a-btn{ color:#f06000;}

.xxm-poptip-arrow-l{position:absolute; left:-7px;top:9px; }
.xxm-poptip-arrow-l i{ top:0px;left:1px;}


.exam-report{width:960px;}
.exam-lf{ width:140px; float:left}
.exam-tab{ width:138px;border:#e3e3e3 solid 1px; background-color:#fff;-webkit-box-shadow:rgba(0, 0, 0, .1) 0 1px 5px; -moz-box-shadow:rgba(0, 0, 0, .1) 0 1px 5px; box-shadow:rgba(0, 0, 0, .1) 0 1px 5px ; float:left}
.exam-tab li{ width:100%; line-height:60px;  border-bottom:#e8e8e8 solid 1px; margin-bottom:-1px;font-size:16px; text-align:left; text-indent:20px; position:relative; cursor:pointer; float:left}
.exam-tab li:hover{ background-color:#f5f5f5}
.exam-tab .ui-check{ background-color:#f06000; color:#FFF; font-weight:bold; cursor:default;box-shadow:0px 0px 3px 3px #e05a00 inset;}
.exam-tab .ui-check:hover{background-color:#f06000;}
.exam-tab .ui-check .ico{ width:6px; height:12px; display:block; background:url(//img2.233.com/wx/tiku/v1/skin/a/tk_gd.png) -150px 0 no-repeat; position:absolute; font-size:0; right:15px; top:25px}
.exam-tab .ui-check a{color: #fff}
.exam-report-cont-blk{ width:840px; float:right;}
.exam-report-cont-blk u{ color:#f06000;}
.exam-report-cont-blk .biaoti-hd{ width:96%; margin:0 auto; color:#999; font-size:14px; padding-top:20px}
.exam-report-cont-blk .number-bd{ width:100%;}
.exam-tab a{ display:block;}
.exam-tab .ui-check a{ color:#FFF}

.list-empty { margin: 60px auto; width: 530px; }
.list-empty p { color: #999; line-height:30px; font-size:16px}
.list-empty p.last { margin-bottom: 12px; }
.book-pen { width: 153px; height: 102px; background: url(//img2.233.com/wx/tiku/v1/skin/a/tk_gd.png) no-repeat 0 -89px; margin-top:8px; float: left; }
.empty-text { margin-left: 175px; padding-top: 14px; }


.page-img-error{ background: url(//img2.233.com/wx/tiku/v1/skin/a/page-img-error.jpg) center center no-repeat;width: 200px;height: 200px;}


.page_ajax_loading_bg{ background: url(//img2.233.com/wx/tiku/v1/skin/a/loading_metro.gif) center center no-repeat}
.page_ajax_loading{padding: 50px 0;text-align: center; background: url(//img2.233.com/wx/tiku/v1/skin/a/loading_metro.gif) center center no-repeat}
.page_ajax_empty{padding: 50px 0;text-align: center;}

.top-nav-wrap{-webkit-box-shadow:rgba(0,0,0,0.05) 0px 0px 0px;-moz-box-shadow:rgba(0,0,0,0.05) 0px 0px 0px;box-shadow:rgba(0,0,0,0.05) 0px 0px 0px;border-bottom:1px solid #eee;}


.tk-integral { cursor:pointer;  z-index:100;height:100px;width:46px;display: block; cursor: pointer;}
.tk-integral .integral-hide { color:#bdbdbd; cursor:pointer; position:absolute; z-index:200; left:-10px; top:-5px; text-decoration:initial }
.tk-integral .integral-pop { position:absolute; z-index:100; left:0px; top:-140px; height:152px; color:#dcf9b6; overflow:hidden }
.tk-integral .integral-pop span { color:#323232; line-height:18px; position:absolute; left:0; top:0; padding:15px 13px; text-align:left }
.tk-integral .integral-pop .btn-24-green { position:absolute; left:35px; top:78px; line-height:26px; height:26px; font-family:Microsoft Yahei }
.tk-integral .integral-pop.pop-bubble { width:136px; height:140px; background-repeat: no-repeat; }
.tk-integral .integral-progressbar { text-align:left; position:relative; top:5px; display:none; margin:0 auto; width:84px; height:5px; border-radius:6px; background-color:#e6e6e6; vertical-align:middle }
.tk-integral .integral-progressbar .progress-line { text-align:left; display:block; width:0; background-color:#66cc52; height:5px; border-radius:6px; vertical-align:top }
.tk-integral .integral-progressbar .ui-tooltip { background-color:#66cc52; color:#fff; border:1px solid #66cc52; padding:2px; position:relative; left:-22%; width:28px; height:16px; padding:0 2px; top:8px; text-align:center }
.tk-integral .img-pitiful{ width:150px; height:125px; display:block; background:url(//img2.233.com/wx/tiku/v1/skin/a/jifen.gif) no-repeat }
.tk-integral .integral-pop.pop-bubble { background:url(//img2.233.com/wx/tiku/v1/skin/a/tk_gd.png) 0px -224px }
.tk-integral .integral-pop .btn-green { position:absolute; left:30px; top:78px; line-height:26px; height:26px; font-family:Microsoft Yahei; color:#fff}
.tk-integral a.btn-green{border:0;padding:0;cursor:pointer;display:inline-block;text-align:center;border:1px solid transparent;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;height:22px;line-height:22px;font-size:12px;padding:0 15px;border-color:#e75c00;background-color:#f06000;background-repeat:repeat-x;}
.tk-integral .pop-cross { width:18px; height:18px; display:-moz-inline-box; -moz-box-orient:vertical; display:inline-block; vertical-align:middle; *vertical-align:auto;*zoom:1;*display:inline;background:url(//img2.233.com/wx/tiku/v1/skin/a/tk_gd.png) -159px -89px no-repeat}
.tk-integral .integral-pop .success{ width:110px;color:#323232; line-height:18px; position:absolute; left:0; top:17px; padding:15px 13px; text-align:left; font-family:"Microsoft Yahei"}
.tk-integral .integral-pop .success .txt1{ text-align:center; font-size:18px; color:#3a8f00}
.tk-integral .integral-pop .success .txt2{text-align:center; font-size:23px; line-height:50px; color:#f06000}

.back-old{ width:22px; padding:7px 5px; text-align:center;line-height:17px; display:block; background-color:#5db552; position:fixed; _position:absolute; left:50%; top:240px;  margin-left:520px; color:#FFF!important;}
.back-old:hover{ background-color:#52a947}

.btn-org{ background-color:#f06000!important; border-color:#dc5800!important; color:#FFF!important}
.btn-org:hover{background-color:#dc5800!important; border-color:#d15400!important;}
.btn-green{ background-color:#64ad75!important; border-color:#5ba36c!important; color:#FFF!important}
.btn-green:hover{background-color:#549b65!important; border-color:#509861!important;}

/*share*/
.reportShare{position: fixed;_position: absolute;z-index:999; right: 50%; margin-right:-580px; color:#FFF; }
.reportShareActive{color:#fff;border-radius:0px 5px 5px 0px;background:#5aa26a url(//img2.233.com/wx/tiku/v1/skin/tiku/shareIco.png) no-repeat 4px 5px;}
.reportShare .shareBtn{font-size:12px;position:relative;z-index:9991; text-align:center;width:66px; height:25px;}
.reportShare .shareBtn .txt{width:66px; height:25px;padding-top:43px; cursor:pointer; display:block;background:url(//img2.233.com/wx/tiku/v1/skin/tiku/shareIco.png) 0px 0;}
.reportShare .shareSelect{z-index:0;position:absolute;top:0px;right:75px;z-index:0;background:#fff; border:#64ad75 solid 2px;width:310px; padding:15px 10px 15px 15px;line-height:30px;border-radius:5px;}
.reportShare .shareSelect ul li{text-align:center;float:left;color:#666;font-size:12px; padding:0 10px;cursor:pointer;}
.reportShare .shareSelect ul i{background:url(//img2.233.com/wx/tiku/v1/skin/tiku/shareIco.png) no-repeat;display:block;width:36px;height:36px; padding:10px; border-radius:3px;}
.reportShare .shareSelect .s1 i{background-position:center -74px; background-color:#e1161a;}
.reportShare .shareSelect .s2 i{background-position:center -145px; background-color:#f5a527;}
.reportShare .shareSelect .s3 i{background-position:center -217px; background-color:#307fda;}
.reportShare .shareSelect .s4 i{background-position:center -288px; background-color:#30b0da;}
.reportShare .shareSelect .s1 i:hover{background-color:#cc1417;}
.reportShare .shareSelect .s2 i:hover{background-color:#e09824;}
.reportShare .shareSelect .s3 i:hover{background-color:#2c76c9;}
.reportShare .shareSelect .s4 i:hover{background-color:#2ca2c9;}
.reportShare .shareSelect ul li:hover{ color:#f06000; font-weight:bold}
.reportShare .shareSelect span{ color:#4d9133; font-size:20px;font-family:"\5FAE\8F6F\96C5\9ED1"; padding-bottom:20px; display:block;}
.reportShare .shareSelect .ico{ border-style:solid; border-width:7px; display:block; border-color:#f8f7f3; border-left-color:#64ad75; position:absolute; right:-15px; top:40px; overflow:hidden; }
.reportShare .shareSelect .ico i{display:block; position:absolute; right:1px; top:-3px; z-index:88; color:#FFF}

.new-function{height:53px; line-height:15px; text-align:center; background:url(//img2.233.com/wx/tiku/v1/skin/exam/tk_exam.png) -132px -467px; position:absolute; left:-40px; top:-27px; cursor:pointer; color:#f03e00; z-index:20}
.new-function i{ display:block; width:20px; text-align:center; padding:7px 0; font-weight:bold; margin-top:30px; font-style:normal; background-color:#FFF; border:#f06000 solid 1px;border-radius:15px;}
.new-function i:hover{color:#FFF;   background-color:#f06000}  

/*10.1*/
.tiku-head-ad:hover{animation:tikuAd 1s .01s ease both;-webkit-animation:tikuAd 1s .01s ease both; -moz-animation:tikuAd 1s .01s ease both; }
@keyframes tikuAd{
    0%,20%,50%,80%,100%{transform:translateY(0)}
    40%{transform:translateY(-10px)}
    60%{transform:translateY(-5px)}
}
@-webkit-keyframes tikuAd{
    0%,20%,50%,80%,100%{-webkit-transform:translateY(0)}
    40%{-webkit-transform:translateY(-10px)}
    60%{-webkit-transform:translateY(-5px)}
}
@-moz-keyframes tikuAd{
    0%,20%,50%,80%,100%{-moz-transform:translateY(0)}
    40%{-moz-transform:translateY(-10px)}
    60%{-moz-transform:translateY(-5px)}
}