/* 焦点图 */
.wx-b{overflow:hidden;position:relative;height:280px;text-align:center;margin:0px; z-index:0}
.wx-banner{overflow:hidden;position:relative;height:280px;text-align:center;margin:0px; z-index:0}
.wx-banner div.banner_img{position:absolute;left:0;top:0;z-index:20;width:100%;height:280px;}
.wx-banner div.banner_img img{width:1190px;position:absolute;left:50%;top:0;margin-left:-595px;}

.promo-ft{position:absolute;z-index:999;width:900px;left:50%;top:0;margin-left:-595px;}
.promo-ft .promo-opt{display:no ne}
.promo-ft .promo-opt a{display: block;height: 60px;line-height: 60px;overflow: hidden;*zoom:1;position: absolute;top: 89px;width: 40px;color: #fff;background-color: rgba(0,0,0,.3);
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4C000000', EndColorStr='#4C000000')}
.promo-ft .promo-opt a:hover{background-color:rgba(0,0,0,.6);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#99000000', EndColorStr='#99000000')}
.promo-ft .promo-opt a i{display:block;margin:18px 0 0 12px;cursor:pointer;width:15px;height:23px;overflow:hidden;*zoom:1}
.promo-ft .promo-opt .prev{left:5px}.promo-ft .promo-opt .prev i{background: url(../images/wx-bg.png) no-repeat 0 -258px;}
.promo-ft .promo-opt .next{right:5px}.promo-ft .promo-opt .next i{background: url(../images/wx-bg.png) no-repeat 0 -282px;}

.promo-ft .promo-nav{position:absolute;bottom:15px;top:240px;left:40px;height:23px;text-align:center;font-size:0;-moz-border-radius:15px;-ms-border-radius:15px;-o-border-radius:15px;border-radius:15px;background:rgba(255,255,255,.3);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4CFFFFFF', EndColorStr='#4CFFFFFF');padding:0 5px;}
.promo-ft .promo-nav li{display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline;margin:5px 2px 4px;}
.promo-ft .promo-nav li a{display:block;padding-top:12px;width:12px;height:0;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;background:#b7b7b7;overflow:hidden;*zoom:1}
.promo-ft .promo-nav .selected a{background:#de2b01}
.promo-ft .promo-opt .prev {left:5px;}
.promo-ft .promo-opt .next {right: 3px;}

/*焦点图右边*/
.mrig{width:270px;height:256px;position:absolute; background:#fff;right:50%;#right:50%;_right:50%;top:12px;margin-right:-595px; z-index:999;box-shadow:inset 0 1px 2px rgba(0,0,0,.1)}
.loginForm{width:230px;float:left;display:inline;margin:0px;padding:0px;margin-left:25px; position:relative; z-index:9}
.loginForm p{float:left;display:inline;margin:14px 0px 0;text-align:left;font: normal 14px "microsoft yahei";}


/* form */
.loginFormIpt{float:left;display:inline;height:33px;line-height:33px;margin:0px;padding:0px;margin-top:13px;clear:both;width:221px;#width:205px;_width:221px;position:relative;_border:1px solid #d5d5d5;border-radius:2px; z-index:0;background:#fff}
.loginFormTdIpt{width:221px;margin:0px;ime-mode:disabled;height:33px;line-height:33px;_height:30px;_line-height:30px;top:0;left:0;font-size:16px;font-weight:700;border:none;font-family:verdana;color:#bbb;z-index:0; background:#fff}
.loginFormIpt .placeholder{visibility:visible;cursor:text;}
.placeholder{color:#aaa;padding-top:2px;font-size:14px;text-indent:10px;position:absolute;left:0;top:0px;visibility:hidden;background:none;}

.loginFormCheck{float:left;display:inline;width:221px;height:14px;line-height:14px;font-size:12px;color:#555;vertical-align:middle;margin:0px;margin-top:14px;clear:both;text-align:right}
.loginFormCbx{width:13px;height:13px;float:left;display:inline;padding:0;overflow:hidden;margin:0;vertical-align:middle;}
.loginFormCheck label{float:left;}
.forgetPwd{font-family:Arial;color:#848585;}
.forgetPwd:hover{color:#333;}

.Form input[type=text],.Form input[type=password],.Form textarea{display:inline-block;font-size:18px;font-weight:300;line-height:1.4;width:205px;padding:0px 8px;color:#221919;background:#fff;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;border:1px solid #d5d5d5;box-shadow:inset 0 1px rgba(8,20,27,.10),0 1px rgba(255,255,255,.8);-moz-box-shadow:inset 0 1px rgba(8,20,27,.10),0 1px rgba(255,255,255,.8);-webkit-box-shadow:inset 0 1px rgba(8,20,27,.10),0 1px rgba(255,255,255,.8);-webkit-transition:all .08s ease-in-out;-moz-transition:all .08s ease-in-out}
.FancyForm input[type=text],.FancyForm input[type=password],.FancyForm textarea{position:relative;z-index:3;display:block;width:100%;background:transparent;border:1px solid #d5d5d5;box-shadow:inset 0 1px rgba(8,20,27,.10),0 1px rgba(255,255,255,.8);-moz-box-shadow:inset 0 1px rgba(8,20,27,.10),0 1px rgba(255,255,255,.8);-webkit-box-shadow:inset 0 1px rgba(8,20,27,.10),0 1px rgba(255,255,255,.8);-webkit-transition:all .08s ease-in-out;-moz-transition:all .08s ease-in-out}

.Form input[type=text]:focus,.Form input[type=password]:focus,.Form textarea:focus{border-color:#f56400;box-shadow:inset 0 1px rgba(24,26,27,.10),0 1px rgba(255,255,255,.8),0 0 14px rgba(175,160,154,.35);-moz-box-shadow:inset 0 1px rgba(24,26,27,.10),0 1px rgba(255,255,255,.8),0 0 14px rgba(175,160,154,.35);-webkit-box-shadow:inset 0 1px rgba(24,26,27,.10),0 1px rgba(255,255,255,.8),0 0 14px rgba(175,160,154,.35)}

.loginForm .loginBtn{width:223px;height:42px;line-height:42px;float:left;display:inline-block;_display:inline;margin-top:16px;margin-left:0px;text-align:center;cursor:pointer;border:0;padding:0;vertical-align:baseline;outline:0;background:url(http://img.233.com/wx/img/index/2014/wx-bg.png) no-repeat 0 -158px;text-indent:-9999px}
.loginForm .loginBtn:hover{width:223px;background:url(../images/wx-bg.png) no-repeat 0 -208px;}
.another{float:left;display:inline;margin-top:12px;font-size:12px;}
.another p{float:left;display:inline;margin:0px;padding:0px;font-size:12px;line-height:24px;}
.another .an-sinawbo,.another .an-txQQ,.another .an-wx{width:20px;height:20px;margin-top:2px;margin-left:7px;float:left;display:inline;background:url(../images/wx-bg.png) no-repeat;}
.another .an-sinawbo{ background-position: -147px -265px;}
.another .an-txQQ{background-position: -175px -265px;}
.another .an-wx{background-position: -204px -265px;}
/*第二状态*/
	.loginForm .user-info { width:100%;float:left;display:inline;margin-top:10px;}
    .loginForm .user-info .img { width:76px; height:76px; float:left;display:inline; border-radius:50% ;box-shadow:0 1px 5px rgba(0,0,0,.2);}
    .loginForm .user-info .inner { margin:0px 0 0 15px !important; font-size:14px; color:#333; float:left;display:inline;width:136px;padding:0px; overflow:hidden; }
	.loginForm .user-info .inner p{margin-top:5px;color:#333;display:inline-block;width:100%;clear:both;line-height:24px!important;}
    .loginForm .user-info .inner .greet {margin-top:14px;}
    .loginForm .user-info .inner .jd { margin-top:8px; font-size:14px; font-family:"\5B8B\4F53"; color:#ff841c; }
    .loginForm .user-info .inner p .nane{width:86px; position:relative;display:inline-block;color:#f30;padding:0px;margin:0px;line-height:24px!important;#overflow:hidden; }
	.loginForm .user-info .inner p .nane:hover{color:#d00;font-weight:bold}
    .loginForm ul.user-info-list{ width:100%; margin-top:14px;font-size:12px;float:left;display:inline;margin-left:-5px; z-index:9; }
	.loginForm ul.user-info-list li { width:76px; border-right:1px dashed #eee; text-align:center; display:inline;float:left; position:relative; cursor:pointer;  }
	.loginForm ul.user-info-list li .i-icon { margin-bottom:4px; }
	.loginForm ul.user-info-list li .number {width:15px;height:15px;font-size:10px;line-height:15px;text-align:center;color:#fff;display:block;background:#fb5300;position:absolute; top:-6px; left:42px;border-radius:50% }
	
	#wxydl  li.orders .i-icon{ background:url(../images/wx-bg.png) no-repeat 0px -993px;}
	#wxydl  li.course .i-icon { background:url(../images/wx-bg.png) no-repeat 0px -961px;}
	#wxydl  li.drill .i-icon { background:url(../images/wx-bg.png) no-repeat 0px -932px;}
	#wxydl  li.orders:hover .i-icon { height:26px; display:block; background:url(../images/wx-bg.png) no-repeat -80px -993px; }
	#wxydl  li.course:hover .i-icon { height:26px; width:50px;display:block; background:url(../images/wx-bg.png) no-repeat -80px -961px; }
	#wxydl  li.drill:hover .i-icon { height:26px; width:50px;display:block; background:url(../images/wx-bg.png) no-repeat -80px -932px; }
	.loginForm ul.user-info-list li.drill { border-right:none; }
	.loginForm li.course .i-icon { background-position: 0px -932px; }
	.loginForm ul.user-info-list li a{ color:#888}
	.loginForm ul.user-info-list li a:hover{ color:#f30}
/*
	.loginForm ul.user-info-list li.orders {background:url(../images/wx-bg.png) no-repeat 0px -993px;}
	.loginForm li.orders .i-icon,.loginForm li.drill .i-icon,.loginForm li.course .i-icon { height:26px; display:block; background:url(../images/wx-bg.png) no-repeat -80px -993px; }
	.loginForm ul.user-info-list li.drill { border-right:none; }
	.loginForm li.drill .i-icon { background-position: 0px -961px; }
	.loginForm ul.user-info-list li.course .i-icon {background:url(../images/wx-bg.png) no-repeat 0px -932px; }
	.loginForm li.course .i-icon { background-position: 0px -932px; }
	.loginForm ul.user-info-list li a{ color:#888}
	.loginForm ul.user-info-list li a:hover{ color:#f30}
	.loginForm li.orders:hover .i-icon,.loginForm li.drill:hover .i-icon,.loginForm li.course:hover .i-icon { height:26px; display:block; background:url(../images/wx-bg.png) no-repeat -80px -993px; }
	.loginForm li.drill:hover .i-icon{ background:url(../images/wx-bg.png) no-repeat -80px -962px;}
	.loginForm li.course:hover .i-icon {background:url(../images/wx-bg.png) no-repeat -80px -932px; }
*/
	.loginForm .us,.loginForm .login-name,.loginForm .login-button{margin-top:16px;width:100%;float:left;line-heiht:30px;text-align:left;font-size:14px;}
	.loginForm .login-name{width:90%;padding-left:20px;line-height:34px;margint-top:10p;}
	.loginForm .login-name strong{color:#f60}
	.loginForm .login-button .logining{width:148px;float:left;display:inline;text-align:center;border:1px solid #e87600;background:#ff7e05;font:bold 14px/32px Arial;_font:bold 14px/30px Arial; border-radius:3px;}
	.loginForm .login-button .button{width:auto;font:bold 14px/32px Arial;color:#999;float:left;margin-left:20px;#margin-left:20px;_margin-left:20px;}
	.logining i{font-style:normal;color:#fff;}
	.loginForm .login-button .logining:hover{background:#ff9c43}
    .loginForm .login-button .button:hover{background:#eee!important;}
/* form 结束 */
/*焦点图右边结束*/
/*分类*/
.mod-classes-blcoks{width:1190px;margin:-29px auto 0px;height:212px;#height:202px;_height:202px;overflow:hidden;}
.classes-blcoks_item2,.classes-blcoks_item2-5,.classes-blcoks_item25{float:left;height:212px;#height:202px;_height:202px;overflow:hidden;position:absolute}
.classes-blcoks,.pl0 .classes-blcoks{margin:0px;}

.classes-blcoks dt{height:33px;border-bottom:1px solid #e7e7e7; position:relative}
.classes-blcoks dt h4{height:33px;overflow:hidden;font: normal 18px/33px "microsoft yahei";color:#222;display:inline-block;*display:inline;*zoom:1;border-bottom:1px solid #ef2f1a;padding:0 2px;*margin-bottom:-2px;*position:relative}
.classes-blcoks dt em.huiy{ position:absolute; right:3px;top:8px;font-size:12px;}.classes-blcoks dt em.huiy a:hover{color:#f30}
.classes-blcoks dt h4 b{font-weight:normal;font-size:14px;}
.classes-blcoks dd{margin:0px;line-height:26px;padding:9px 0 0px;*zoom:1;font: normal 12px/26px "宋体";color:#ddd}
.classes-blcoks dd:after{content:'.';display:block;height:0;clear:both;font-size:0;visibility:hidden}
.classes-blcoks dd a{padding:4px 8px 4px 8px;_padding:3px 7px 0;white-space:nowrap;color:#555;font: normal 14px/26px "microsoft yahei";}.classes-blcoks dd a:hover{color:#fff;background:#e42a25}
.classes-blcoks_item2{width:95px}
.classes-blcoks_item2-5{width:155px}
.classes-blcoks_item25{width:270px;}
.mod-classes-blcoks div{border:2px solid #f9f9f9;border-top-color:#e3e3e3;margin:0px -2px 0px 0px;padding:5px 11px; position:absolute;}
.mod-classes-blcoks div:hover{border:2px solid #e42a25;margin-top:0px;background:#ffe;-webkit-transition: all .1s linear;-moz-transition:all .1s linear;-ms-transition: all .1s linear;transition: all .1s linear;}
.mod-classes-blcoks .pl0{margin-left:0px;}
.mod-classes-blcoks .pl1{margin-right:0px !important;}

.mod-classes-blcoks h4 em{display:inline-block; vertical-align:middle; width:24px; height:24px;#height:20px;font:normal 1px/2px "宋体"; background:url(source/plugin/tpgao_edu/images/wx-bg.png) no-repeat;margin-left:-2px;margin-right:5px;}
.mod-classes-blcoks h4 em.ico-jz{ background-position:0 -895px}
.mod-classes-blcoks h4 em.ico-cj{ background-position:-30px -895px}
.mod-classes-blcoks h4 em.ico-zy{ background-position:-62px -895px}
.mod-classes-blcoks h4 em.ico-wy{ background-position:-94px -895px}
.mod-classes-blcoks h4 em.ico-wm{ background-position:-127px -895px}
.mod-classes-blcoks h4 em.ico-qt{ background-position:-157px -895px}
.mod-classes-blcoks h4 em.ico-233xx{height:34px;margin-top:-10px;background-position:-181px -890px}
.mod-classes-blcoks div:hover{height:212px;#height:202px;_height:202px;position:absolute;}

/*分类结束*/

/* 固定两列 */
.ui-grid-box{width:1190px;}
.ui-grid-main{ float:right; width:100%;}
.ui-grid-side{ float:right; width:250px;margin-right:-100%;}

/* 大标题，带导航 */
.ui-h2:after { display:block; visibility:hidden; clear:both; height:0; content:'.'; }
.ui-h2 {width:100%;border-bottom:2px solid #e3e3e3; margin-bottom:22px;#margin-bottom:20px;}
.ui-h2-main{width:80%;float:left;display:inline;margin:0px;padding:0px; position:relative;}
.ui-h2-main .ms-tongji{width:140px;float:left;display:inline;font-size:14px;color:#999;margin-left:14px;margin-top:-6px; overflow:hidden;}
.ui-h2-main .ms-tongji em.ms-ico{float:left;display:inline-block;width:32px;height:32px;font:normal 1px/27px Arial;background:url(source/plugin/tpgao_edu/images/wx-bg.png) no-repeat 0 -1046px;}
.ui-h2-main .ms-tongji span.f-fl{color:#333;font-size:14px;width:108px;display:inline-block; position:relative;line-height:22px;}
.ui-h2-main .ms-tongji span.f-fl b{float:left;font-weight:normal;font-size:20px!important;color:#e46916; font-family:Tahoma;margin-top:-3px;line-height:22px !important;}
.ui-h2-main .ms-tongji span.f-fl i{width:108px;color:#999;font-size:12px;display:inline-block;line-height:14px;float:left;overflow:hidden;font-style:normal;}

.ui-h2-title,.ui-h3-title{float:left;display:inline;margin:0px;padding:0 3px;font:normal 24px/30px "microsoft yahei";color:#333;  }
.ui-h2-title:hover,.ui-h3-title:hover{color:#d10b02; }
.ui-h2-nav {float:left;display:inline;margin-left:28px;height:30px;font:normal 14px/30px "microsoft yahei";margin-top:5px;}
.ui-h2-nav li {float:left;display:inline;margin-right:26px;}
.ui-h2-nav li a { color:#666;padding:0 2px;}.ui-h2-nav li a:hover { color:#f30; }
.ui-h2-nav li a.ui-title{float:left;position:relative;margin-bottom:-2px;border-bottom:2px solid #d10b02;}
.gonggao{float:left;display:inline;line-height:35px;margin:0px 0px 0px 120px;padding:0px;color:#999;font-size:12px;font-family:Arial;}
.gonggao a{color:#999;}.gonggao a:hover{color:#f30; text-decoration:underline; }
.ui-h3-more {float:right;margin:0px;color:#999;display:inline;font: normal 12px/35px "microsoft yahei";}.ui-h2 .ui-h3-more{color:#aaa}.ui-h2 .ui-h3-more:hover{color:#f30}
.ui-h3-title{font-size:18px;}
.ui-h4{margin-left:-20px;width:290px;margin-bottom:0px;}
.none{border:none;margin-left:15px;margin-bottom:15px;width:94%}
/*横向子导航  by JY 4.3*/
.ui-nav-sub{ position:absolute;height:35px;margin-top:20px;left:-30px;}
ul.ui-nav-sub-item{width:100%; margin:0px auto; height:35px; overflow:hidden}
ul.ui-nav-sub-item li{ float:left;display:inline; font:normal 12px/35px "宋体";}
ul.ui-nav-sub-item li a{ display:block;padding:0px 10px; color:#999;}
ul.ui-nav-sub-item li a:hover{ color:#f30;}
ul.ui-nav-sub-item li.u-bar{ height:11px; width:1px; overflow:hidden; font-size:0px; line-height:0px; margin-top:12px; background:#ccc;}

/*上下图文结构  by JY 4.3*/
.ui-imgtxt-v{ width:102%; position:relative;margin:0px;margin-right:-16px;}
.ui-imgtxt-v dl{ float:left;display:inline;margin:0px;padding:0px; width:214px; margin-right:14px; margin-top:29px;overflow:hidden;}
.ui-imgtxt-v .ui-tw-pic{ width:214px; height:120px; overflow:hidden;padding-bottom:3px;background:#efefef;zoom:1;-webkit-transition: all .2s linear;-moz-transition:all .2s linear;-ms-transition: all .2s linear;transition: all .2s linear;}
.ui-imgtxt-v .ui-tw-pic img{width:214px; height:120px; box-shadow:0 1px 5px rgba(0,0,0,.2);}
.ui-imgtxt-v .ui-tw-tit,.ui-imgtxt-v .ui-tw-tit a{ width:100%; padding:5px 0px 0px; text-align:left;height:22px; font:normal 14px/22px "microsoft yahei"; color:#333; }
.ui-imgtxt-v .ui-tw-txt{font:normal 12px/20px "宋体"; color:#808080;}
.ui-imgtxt-v .ui-tw-pic:hover{background:#249FF1;}

.ui-txt-left{float:left;display:inline}
.ui-txt-left span.yellow{color: #f38600;font-family: "microsoft yahei",Arial;}
.ui-txt-left span.del{text-decoration: line-through;font-family: "microsoft yahei";color:#bbb;}
.ui-txt-left span {color: #989898;display: inline-block;font-family: "宋体",Arial;height: 24px;line-height: 24px;padding-right: 5px;vertical-align: middle;}

.ui-txt-left a.icobx{width:72px;height:19px;float:left;display:inline;margin-right:4px;background:url(source/plugin/tpgao_edu/images/wx-bg.png) no-repeat -40px -260px;}
.ui-txt-left a.icobx:hover{background-position: -40px -280px}

.ui-txt-right{float:right;display:inline;width:88px;margin-top:5px;line-height:20px;color:#cfcfcf;font-family: "microsoft yahei";text-align:right}
.ui-txt-right .assess,.ui-txt-right .sting{background:url(source/plugin/tpgao_edu/images/wx-bg.png) no-repeat -210px -320px;float:right;padding-left:16px;}
.ui-txt-right .sting{background-position: -210px -347px;}
.ui-imgtxt-v dl:hover .ui-tw-tit a{color:#037ce6;text-align:center}
.ui-imgtxt-v dl:hover .ui-tw-pic img{filter:alpha(opacity=85); }
/*上下图文结构结束*/


.ui-nav-main ul li a.cger,.ui-nav-main ul li a.cger:link{color:#a8ff00!important}
.ui-nav-main ul li a.cger:hover{color:#ff0 !important}

a.cRed,a.cRed:link{color:#f40!important}
a.cRed:hover{color:#fff !important}

