<!DOCTYPE html>
<html lang="en">
<head>
    <title>官方定制</title>
    <!-- 引入html头信息 -->
    <include file="Public/html" />

    <link rel="stylesheet" href="__STATIC__applet/css/common.css">
    <link rel="stylesheet" href="__STATIC__applet/css/webappexclusive.css">
    <!-- tg.jisuapp.cn下添加360统计代码 -->
    <style type="text/css" rel="stylesheet">body {
        zoom: 98.71428571428571%;
    }</style>
</head>
<body class="webapp">
<div id="flag" style="display:none;">产品中心</div>
<!-- 引入顶部导航 -->
<include file="Public/top_nav" />

<div class="page page1">
    <a href="__APP__/Index/Product/order"><img src="__STATIC__applet/image/product/page1.jpg" alt=""></a>
</div>
<div class="page page2">
    <h5>经典案例展示</h5>
    <p>每个小程序都是一份心意，一份执着和一份关注</p>
    <div class="webapp-case">
        <ul class="case-ul">
            <li>
                <div class="case-content">
                    <img src="__STATIC__applet/image/product/file_5707497a71a30.jpg" alt="">
                    <p>商品售卖（可支付）</p>
                </div>
                <a href="" target="_blank">
                    <div class="case-mask">
                        <img src="__STATIC__applet/image/product/4928c88bbcf1e600cb9eca846d686a68.png" alt="">
                    </div>
                </a>
            </li>
            <li>
                <div class="case-content">
                    <img src="__STATIC__applet/image/product/file_56a0ae606007e.png" alt="">
                    <p>教育应用</p>
                </div>
                <a href="" target="_blank">
                    <div class="case-mask">
                        <img src="__STATIC__applet/image/product/4928c88bbcf1e600cb9eca846d686a68.png" alt="">
                    </div>
                </a>
            </li>
            <li>
                <div class="case-content">
                    <img src="__STATIC__applet/image/product/file_56a1a3f4d9847.png" alt="">
                    <p>餐饮模板</p>
                </div>
                <a href="" target="_blank">
                    <div class="case-mask">
                        <img src="__STATIC__applet/image/product/4928c88bbcf1e600cb9eca846d686a68.png" alt="">
                    </div>
                </a>
            </li>
            <li>
                <div class="case-content">
                    <img src="__STATIC__applet/image/product/t_145335718556a078819788c.jpg" alt="">
                    <p>公司展示</p>
                </div>
                <a href="" target="_blank">
                    <div class="case-mask">
                        <img src="__STATIC__applet/image/product/4928c88bbcf1e600cb9eca846d686a68.png" alt="">
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!-- <a href="">查看更多案列 >></a> -->
</div>
<div class="page page3">
    <img src="__STATIC__applet/image/product/page3.jpg" alt="">
</div>
<div class="page page4">
    <p class="page4-p1">联系我们为你私人订制吧</p>
    <p class="page4-p2">直接发布定制，或者电话、QQ联系我们为你定制</p>
    <a href="__APP__/Index/Product/order">立即定制 &gt;&gt;</a>
    <p class="page4-p3"><span>电话：{:L('COMPANY_PHONE')}</span><span>QQ：{:L('COMPANY_QQ')}</span></p>
</div>

<!-- 引入咨询按钮 -->
<include file="Public/consultation" />

<!-- 引入底部 -->
<include file="Public/footer2" />


</body>
</html>