<!DOCTYPE html>
<html lang="zh-CN">
<head> 
<META content="IE=9.0000" http-equiv="X-UA-Compatible">
<meta http-equiv="Content-Type" content="text/html; charset=__CHARSET__" />
<LINK href="__STATIC__css/bootstrap.min.css" rel="stylesheet"> 
<LINK href="__STATIC__css/admin.css" rel="stylesheet"> 
<LINK href="__STATIC__css/switch.min.css" rel="stylesheet"> 
<SCRIPT src="__STATIC__js/jquery.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/bootstrap.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/switch.min.js" type="text/javascript"></SCRIPT>
<SCRIPT src="__STATIC__js/diy.js" type="text/javascript"></SCRIPT>
<title>{:L('ADMIN_Manage_TITLE')}-{:L('ADMIN_Menu_OPERATE')}</title>
</head> 
<body>

<div class="container-fluid">
<form name="user_" id="user_" method="post" action="{:U('agent_delete')}">
			<div class="row bg_black_14 bottom_line_10" >			 
						<div class="input-group col-md-12">
								<div class=" padding_5 sizefont_14">                        
		{:RR('User/Agentadmin/agent_add',L('ADMIN__U_Group_Add_agent'),'btn btn-success btn-sm')}	
						  </div>
              </div> 
            </div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-hover">
<thead>
  <tr>
    <td width="4%" height="32" align="center" valign="middle"><input name="user_id"   type="checkbox" id="user_id" value="1" data-size="mini"  data-on-color="success" data-on-text="{:L('ALL_1')}" data-off-color="warning" data-off-text="{:L('NO')}" data-handle-width="10" data-label-width="1"></td>
    <td width="4%" align="center" valign="middle" style="font-size:12px;">{:L('ID')}</td>
    <td width="8%" align="center" valign="middle">{:L('ADMIN_Agent')}</td>
    <td width="5%" align="center" valign="middle">{:L('ADMIN_Agent_area')}</td>
    <td width="20%" align="center" valign="middle">{:L('ADMIN_Menu_Operate')}</td>
  </tr>
</thead>  
<foreach name="arr" item="v" key="k" >
  <tr>
    <td align="center" valign="middle" height="20" ><input  name="id[]" type="checkbox" id="id[]" value="{$v[id]}"   data-switch-no-init></td>
    <td align="center" valign="middle"   id="text" >{$v[id]}</td>
    <td align="center" valign="middle" >{$v[user_id]}({$v[agentname]})</td>
    <if condition="C('money_status')"><td align="center" valign="middle">{$v[areaName] }</td></if>
    <td align="center" valign="middle">
	{:RR(array('User/Agentadmin/agent_edit',"id=".$v[id]),"<span class='glyphicon glyphicon-pencil sizefont_16 ' aria-hidden='true' data-toggle='tooltip' data-placement='top' title='".L('EDIT')."'></span>")}  
	{:RR(array("User/Agentadmin/agent_delete","id=".$v[id]),"<span class='glyphicon glyphicon-trash  sizefont_16' aria-hidden='true' data-toggle='tooltip' data-placement='top' title='".L('DEL')."'></span>","","onClick=\\"return  jq_confirm(this,'".L('ADMIN_Del_User',array('user_user'=>$v[user]))."')\\"")} 
  </tr>
</foreach>
</table>
<button  type="button" class="btn btn-default btn-sm" name="all_del" value="ALL_DEL" onClick="return return_()">{:L('ALL_DEL')}</button>


 
{$page_show}
</form>
<script>
$('input[id="user_id"][type="checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
   checkbox_id=$('input[id="id[]"][type="checkbox"]')
     if(state)
	 {
			checkbox_id.prop("checked", true);
	 }
	 else
	 {
			 checkbox_id.prop("checked", false);
	 }
});
function return_()
{
     checkbox_id=$('input[id="id[]"][type="checkbox"]:checked')
	 
	 if(checkbox_id.length<=0)
	 {
	     
	     jq_alert('{:L("ERR_ALL_SET")}','{:L("ERR_TLTLE")}','{:L("OK")}')
		 return false ;
	 }
	objects=document.getElementById('user_');
    jq_confirm(objects,'{:L("DEL_ALL_INFO")}','{:L("TLTLE_CONFIRM")}','{:L("OK")}','{:L("CANCEL")}')
	return false;
}
$(document).ready(
    function()
	{ 
        $("[data-toggle='tooltip']").tooltip();
	}
	
);
</script>
</div>
</body>
</html>
